<div class="main-wrapper setbg">
  <app-top-navbar></app-top-navbar>
  <div class="content-wrapper">
  
   
  <div class="container-fluid">
  
      <div class="row page-title-div">
          <div class="col-md-6">
              <h4 class="title">User Details <small class="ml-10"></small></h4>
               
              <p class="sub-title">View user details</p>
          </div>
          <!-- /.col-sm-6 -->
          <div class="col-sm-6 right-side">
          </div>
          <!-- /.col-sm-6 text-right -->
      </div>
      <!-- /.row -->
      <div class="row breadcrumb-div">
          <div class="col-sm-6">
              <ul class="breadcrumb">
                  <li>
                      <a (click)="gotoHome()" style="cursor: pointer">
                          <i class="fa fa-home"></i> Dashboard </a>  / User Details
                  </li>
              </ul>
          </div>
          <!-- /.col-sm-6 -->
          <div class="col-sm-6 text-right hidden-xs">
              <a style="cursor:pointer"><i class="fa fa-comments"></i> Talk to us</a>
          </div>
          <!-- /.col-sm-6 -->
      </div>
      <!-- /.row -->
  </div>
  <!-- /.container-fluid -->

<section class="section pt-n" >
  <div class="container-fluid">
      <div class="row">
          <div class="col-md-12">
              <div class="panel border-primary no-border border-3-top">
                  <div class="panel-heading">
                      <div class="panel-title col-xs-10">
                          <h5>User Details</h5>
                      </div>
                      <div class="dropdown text-right" dropdown>
                          <i class="fa fa-ellipsis-v dropdown-toggle" role="button" id="dropdownMenu3" dropdownToggle></i>
                          <ul class="dropdown-menu dropdown-menu-right bg-gray-500" aria-labelledby="dropdownMenu3" *dropdownMenu >
                              <li><a style="cursor:pointer">Action</a></li>
                              <li><a style="cursor:pointer">Another action</a></li>
                              <li><a style="cursor:pointer">Something else here</a></li>
                          </ul>
                      </div>
                  </div>
                  <div class="panel-body">

                      <div class="table-responsive">
                          <table class="table table-striped table-bordered">
                            <thead>
                              <tr>
                                <th>#</th>
                                <th>First Name</th>
                                      <th>Username</th>
                                <th>Activity</th>
                                      <th>Labels</th>
                                      <th>Location</th>
                                      <th>Action</th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr *ngFor="let user of Users;let i = index">
                                <th scope="row">{{i+1}}</th>
                                <td>
                                          <b>{{user.uFname}}</b><br>
                                          <small class="text-muted">{{user.uUsername}}</small>
                                      </td>
                                      <td>{{user.uUsername}}</td>
                                <td>
                                    <div class="color-success">
                                        <i class="fa fa-long-arrow-up"></i> 30%
                                    </div>
                                          <small class="text-muted">Since last 2 days.</small>
                                </td>
                                      <td>
                                          <span class="label label-success label-bordered">Active</span>
                                          <!-- <span class="label label-info label-bordered">New</span> -->
                                          <!-- <span class="label label-warning label-bordered">Unverified</span> -->
                                      </td>
                                      <td>{{user.uACity}}</td>
                                      <td>
                                          <!-- <button type="button" *ngIf="!showApproved[i]" (click)="approve(user,'APPROVE',i)" class="btn btn-success btn-xs btn-labeled">Approve<span class="btn-label btn-label-right"><i class="fa fa-check"></i></span></button> -->
                                          <button type="button"  *ngIf="!showRejected[i]" (click)="approve(user,'REJECT',i)" class="btn btn-danger btn-xs btn-labeled">Revoke<span class="btn-label btn-label-right"><i class="fa fa-times"></i></span></button>
                                     <button type="button"  (click)="openInvGridModal(user.uId)" class="btn btn-success btn-xs btn-labeled">View<span class="btn-label btn-label-right"><i class="fa fa-check"></i></span></button>
                                          <button type="button" *ngIf="showRejected[i]" class="btn btn-danger btn-xs btn-labeled">Revoked<span class="btn-label btn-label-right"><i class="fa fa-times"></i></span></button>
                                    
                                     
                                      </td>
                              </tr>    
                                                           
                                                                   
                            </tbody>
                          </table>
                      </div>
                      <!-- /.table-responsive -->
                  </div>
              </div>
              <!-- /.panel -->
          </div>
          <!-- /.col-md-6 -->


          <!-- /.col-md-6 -->
      </div>
      <!-- /.row -->
  </div>
  <!-- /.container-fluid -->
</section>

</div>

</div>
<div class="row" style="margin-top:50px;"></div>
<app-footer ></app-footer>

<!-- Modal Inventory grid start -->
<div class="modal fade" id="modalInvGrid" tabindex="-1"
#modalInvGrid='bs-modal' bsModal role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content"
            style="height: 60vh; overflow: auto;">
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel">
                    Inventory Details
                    <button type="button" class="close" (click)="closeInvGridModal()"
                        aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </h4>
            </div>
            <div class="modal-body">
                <div class="alert alert-success align" *ngIf="submitContract">
                    <strong>{{submitContract}}</strong>
                </div>
                <ag-grid-angular id="grid4" #agGrid style=" height: 220px" class="ag-blue" [gridOptions]="gridOptions" 
                     [columnDefs]="columnDefs"  [enableFilter]="true" [enableSorting]="true"
                    [rowSelection]="rowSelection"  [enableColResize]="true" (selectionChanged)="onSelectionChanged($event)"
                    [rowData]="rowData" [frameworkComponents]="frameworkComponents" [groupUseEntireRow]="true">
                </ag-grid-angular>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default"
                (click)="closeInvGridModal()">Close</button>
                <!-- <button type="button"
                    [disabled]="addContractForm.form.invalid"
                    (click)="submitContractDetails()" class="btn btn-primary">Submit</button> -->
            </div>
        </div>
    </div>
</div>
<!-- Modal Inventory grid end -->
<!-- Modal Contract start -->
<div class="modal fade" id="modalContract" tabindex="-1"
#modalContract='bs-modal' bsModal role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content"
            style="height: 80vh; overflow: auto;">
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel">
                    Contract Details
                    <button type="button" class="close" (click)="closeViewModal()"
                        aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </h4>
            </div>
            <div class="modal-body">
                
                <form #addContractForm="ngForm" class="form-horizontal">
                    <div class="form-group">
                        <label for="default" class="col-sm-4 control-label">Contract
                            No. <span class="field-wrapper required-field"></span></label>
                        <div class="col-sm-5"
                            [ngClass]="{'has-error':contractno.invalid && !contractno.pristine}">
                            <input type="number" #contractno='ngModel'
                                name="contractno"
                                [(ngModel)]="ContractDetails.ContractNo" min="0" step="1"
                                value="0" class="form-control"
                                placeholder="Contract No." required />                           
                            <!-- <div [hidden]="quantity.invalid || !quantity.pristine" -->
                            <!-- class="help-block"> -->
                            <!-- <div [hidden]="!unitprice.hasError('minlength')">Field should be 5 digits</div> -->
                            <p *ngIf="contractno.invalid && !contractno.pristine"
                                class="help-block">Contract No is required.</p>
                            <!-- <div [hidden]="!quantity.hasError('required')">Field is required</div> -->
                            <!-- <div [hidden]="!unitprice.hasError('pattern')">Field should be only numbers</div> -->
                            <!-- </div> -->
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="default" class="col-sm-4 control-label">Buyer Name
                            <span class="field-wrapper required-field"></span></label>
                        <div class="col-sm-5"
                            [ngClass]="{'has-error':buyername.invalid && !buyername.pristine}">
                            <input type="text" #buyername='ngModel'
                                name="buyername"
                                [(ngModel)]="ContractDetails.BuyerName" 
                                 class="form-control"
                                placeholder="Buyer Name" required />

                           
                            <!-- <div [hidden]="quantity.invalid || !quantity.pristine" -->
                            <!-- class="help-block"> -->
                            <!-- <div [hidden]="!unitprice.hasError('minlength')">Field should be 5 digits</div> -->
                            <p
                                *ngIf="buyername.invalid && !buyername.pristine"
                                class="help-block">Buyer Name is required.</p>
                            <!-- <div [hidden]="!quantity.hasError('required')">Field is required</div> -->
                            <!-- <div [hidden]="!unitprice.hasError('pattern')">Field should be only numbers</div> -->
                            <!-- </div> -->
                        </div>
                        
                    </div>
                    <div class="form-group">
                        <label for="default" class="col-sm-4 control-label">Buyer ABN
                            <span class="field-wrapper required-field"></span></label>
                        <div class="col-sm-5"
                            [ngClass]="{'has-error':buyerABN.invalid && !buyerABN.pristine}">
                            <input type="number" #buyerABN='ngModel' 
                                name="buyerABN"
                                [(ngModel)]="ContractDetails.BuyerABN" min="0"
                                step="1" value="0" class="form-control"
                                placeholder="Buyer ABN" required />

                           
                            <!-- <div [hidden]="!unitprice.hasError('minlength')">Field should be 5 digits</div> -->
                            <p
                                *ngIf="buyerABN.invalid && !buyerABN.pristine"
                                class="help-block">Buyer ABN is required.</p>
                            <!-- <div [hidden]="!quantity.hasError('required')">Field is required</div> -->
                            <!-- <div [hidden]="!unitprice.hasError('pattern')">Field should be only numbers</div> -->
                            <!-- </div> -->
                        </div>
                    </div>
                   

                   
                    <div class="form-group">
                        <label for="addr" class="col-sm-4 control-label">Buyer Email
                            <span class="field-wrapper required-field"></span>
                        </label>
                        <div class="col-sm-5"
                            [ngClass]="{'has-error':buyeremail.invalid && !buyeremail.pristine}">
                            <input type="text" class="form-control"
                                style="z-index: 9000"
                                [(ngModel)]="ContractDetails.BuyerEmail"                                
                                #buyeremail="ngModel" name="buyeremail" 
                                placeholder="Buyer Email" 
                                 required />
                            <p *ngIf="buyeremail.invalid && !buyeremail.pristine"
                                class="help-block">Buyer Email is required.</p>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="name13" class="col-sm-4 control-label">Buyer Phone<span
                            class="field-wrapper required-field"></span></label>
                        <div class="col-sm-5"
                            [ngClass]="{'has-error':buyerPhone.invalid && !buyerPhone.pristine}">
                            <input type="number" class="form-control"
                                [(ngModel)]="ContractDetails.BuyerPhone" name="buyerPhone"
                                #buyerPhone="ngModel" required placeholder="Buyer Phone" />
                            <p *ngIf="buyerPhone.invalid && !buyerPhone.pristine"
                                class="help-block">Buyer Phone is required.</p>
                        </div>
                    </div>
                    
                    <div class="form-group">
                        <label for="name13" class="col-sm-4 control-label">Rate<span
                            class="field-wrapper required-field"></span></label>
                        <div class="col-sm-5"
                            [ngClass]="{'has-error':rate.invalid && !rate.pristine}">
                            <input type="number" class="form-control" min="0"
                                step="1" value="0"
                                [(ngModel)]="ContractDetails.Rate" name="rate"
                                #rate="ngModel" required placeholder="Rate" />
                            <p *ngIf="rate.invalid && !rate.pristine"
                                class="help-block">Rate is required.</p>
                        </div>
                    </div>
                    
                    <div class="form-group">
                        <label for="country" class="col-sm-4 control-label">Quantity<span
                            class="field-wrapper required-field"></span></label>
                        <div class="col-sm-5"
                            [ngClass]="{'has-error':quantity.invalid && !quantity.pristine}">
                            <input class="form-control" type="number" min="0"
                            step="1" value="0" 
                                [(ngModel)]="ContractDetails.Quantity"
                                placeholder="Quantity" required
                                #quantity='ngModel' name="quantity">
                            <p *ngIf="quantity.invalid && !quantity.pristine"
                                class="help-block">Quantity is required.</p>
                        </div>
                    </div>
                                
                                        
                </form>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default"
                (click)="closeViewModal()">Close</button>
                <button type="button"
                    [disabled]="addContractForm.form.invalid"
                    (click)="submitContractDetails()" class="btn btn-primary">Submit</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal Contract end -->


