<div class="main-wrapper">
  <app-top-navbar></app-top-navbar>
  <div class="content-wrapper">

    <div class="container-fluid">

      <div class="row page-title-div">
        <div class="col-md-12 p-l0">
          <h4 class="title">Production,Cost & Breakeven</h4>
        </div>
      </div>
    </div>

    <section class="section pt-10">
      <div class="container-fluid">
        <!--first row starts here-->
        <div class="row">
          <div class="col-md-12">
            <div class="panel" data-panel-control>
              <div class="panel-heading">
                <app-ngr-entity-display></app-ngr-entity-display>
              </div>
            </div>
          </div>
        </div>
        <!--first row ends here-->
        
        <!--second row starts here-->
        <div class="row">
          <div class="col-md-12">
            <!-- Button trigger modal -->
            <button type="button" class="btn btn-primary" (click)="openaddpcModal()">Add Production & Costs</button>
            <button type="button" class="btn btn-primary" (click)="openaddffModal()">Add Farms & Fields</button>
          </div>
        </div>
        <!--second row ends here-->

        <!--third row starts here-->
        <div class="row m-t25"> 
          <div class="col-md-12">
            <app-pcbgrid></app-pcbgrid>
          </div>
        </div> 
        <!--third row ends here-->

        <!--popup's starts here-->
          <!-- addpcModal starts here-->
          <div class="modal fade bd-example-modal-lg" id="myModal" tabindex="-1" bsModal #myModal="bs-modal" role="dialog" aria-labelledby="myModalLabel">
              <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content" style="height: 95vh; overflow: auto;">
                  <div class="modal-header">
                    <h4 class="modal-title" id="myModalLabel">
                      Add Production & Costs
                      <button type="button" class="close" (click)="closeBrkEvnModal()" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </h4>
                  </div>
                  <div class="modal-body">
                    <div class="panel-body">
                      <div class="alert alert-success" *ngIf="submitBrkevenForcast">
                        <strong>{{submitBrkevenForcast}}</strong>
                      </div>
                      <form #addBrkevenfrcstForm="ngForm" class="form-horizontal">
                        <div class="form-group">
                          <label for="default" class="col-sm-3 control-label">Commodity
                            <span class="field-wrapper required-field"></span>
                          </label>
                          <div class="col-sm-9">
                            <select class="form-control " name="selectedCommodity" (change)="callGrades()" [(ngModel)]="AddProductionCosts.commodity_name" id="Commodity"
                              title="Select Commodity">
                              <option *ngFor="let commodity of commodities" [ngValue]="commodity.C_NAME">{{commodity.C_NAME}}</option>

                            </select>
                          </div>
                        </div>
                        <div class="form-group">
                          <label for="default" class="col-sm-3 control-label">Crop Year
                            <span class="field-wrapper required-field"></span>
                          </label>
                          <div class="col-sm-9">

                            <select class="form-control" name="cropyear" title="Select Crop Year" [(ngModel)]="AddProductionCosts.crop_year" id="cropyr">
                              <option *ngFor="let crpyr of cropYearList" [ngValue]="crpyr.Crop_year">{{crpyr.Crop_year}}</option>
                            </select>
                          </div>
                        </div>
                        <div class="form-group">
                          <label for="default" class="col-sm-3 control-label">
                            Farm
                            <span class="field-wrapper required-field"></span>
                          </label>
                          <div class="col-sm-9">
                            <select class="form-control" (change)="getFieldDetailsByFarmId()" name="farm_name" title="Select farm name" [(ngModel)]="AddProductionCosts.farm_name" id="farmn">
                              <option *ngFor="let farmn of farmDetails" [ngValue]="farmn.farm_name">{{farmn.farm_name}}</option>
                            </select>
                          </div>
                        </div>
                        <div class="form-group">
                          <label for="default" class="col-sm-3 control-label">
                            Field
                            <span class="field-wrapper required-field"></span>
                          </label>
                          <div class="col-sm-9">
                            <select class="form-control" name="field_name" title="Select Field Name" [(ngModel)]="AddProductionCosts.field_name" id="cropyr">
                              <option *ngFor="let fieldn of fieldDetails" [ngValue]="fieldn.field_name">{{fieldn.field_name}}</option>
                            </select>
                          </div>
                        </div>
                        <div class="form-group">
                          <label for="default" class="col-sm-3 control-label">Area (ha.)
                          </label>
                          <div class="col-sm-9" [ngClass]="{'has-error':arhec.invalid && !arhec.pristine}">
                            <input required type="number" #arhec='ngModel' name="arhec" [(ngModel)]="AddProductionCosts.AreaHectares" class="form-control" id="default"
                              placeholder="Area (ha)">
                            <p *ngIf="arhec.invalid && !arhec.pristine" class="help-block">Area is required.</p>
                          </div>
                        </div>
                        <div class="form-group">
                          <label for="default" class="col-sm-3 control-label">Area (acre)
                          </label>
                          <div class="col-sm-9">
                            <input required type="number" [(ngModel)]="AddProductionCosts.AreaAcres" name="areacres" readonly 
                            value={{AddProductionCosts.AreaHectares*2.47105}} class="form-control" id="default" placeholder="Area (acre)">
                          </div>
                        </div>
                        
                        <div class="form-group">
                          <label for="default" class="col-sm-3 control-label">Est. Yield/ha.</label>
                          <div class="col-sm-9" [ngClass]="{'has-error':yield.invalid && !yield.pristine}">
                            <input required type="number" #yield='ngModel' name="yield" [(ngModel)]="AddProductionCosts.YieldHecatre" class="form-control"
                              id="default" placeholder="Yield/ha">
                            <p *ngIf="yield.invalid && !yield.pristine" class="help-block">Est. Yield/ha is required.</p>
                          </div>
                        </div>
                        <div class="form-group">
                          <label for="default" class="col-sm-3 control-label">Est. Yield/Acre.</label>
                          <div class="col-sm-9" [ngClass]="{'has-error':yield.invalid && !yield.pristine}">
                            <input required type="number" #yield='ngModel' name="yield" [(ngModel)]="AddProductionCosts.YieldAcre" class="form-control"
                              id="default" placeholder="Yield/Acre">
                            <p *ngIf="yield.invalid && !yield.pristine" class="help-block">Est. Yield/ha is required.</p>
                          </div>
                        </div>
                        <div class="form-group">
                          <label for="text" class="col-sm-3 control-label" tooltip="Removed Amount (your sharefarmer %)" placement="top">Sharefarmer %</label>
                          <div class="col-sm-9" [ngClass]="{'has-error':remamt.invalid && !remamt.pristine}">
                            <input required type="number" #remamt='ngModel' name="remamt" [(ngModel)]="AddProductionCosts.Sharefarmer" max="100" min="0"
                              placeholder="Sharefarmer %" class="form-control" id="text">
                            <p *ngIf="remamt.invalid && !remamt.pristine" class="help-block">Removed Amount (your sharefarmer %) is required.</p>
                          </div>
                        </div>
                        <div class="form-group">
                          <label for="text" class="col-sm-3 control-label" tooltip="Storage Available-onfarm(tonnes)" placement="top">Storage Available Onfarm
                          </label>
                          <div class="col-sm-9" [ngClass]="{'has-error':avlstr.invalid && !avlstr.pristine}">
                            <input required type="number" #avlstr='ngModel' name="avlstr" [(ngModel)]="AddProductionCosts.StorageAvailable" class="form-control"
                              id="text" placeholder="Storage Available - on farm (mt)">
                            <p *ngIf="avlstr.invalid && !avlstr.pristine" class="help-block">Stock on farm is required.</p>
                          </div>
                        </div>
                        <div class="form-group">
                          <label for="text" class="col-sm-3 control-label">Stock in market</label>
                          <div class="col-sm-9" [ngClass]="{'has-error':oldcrop.invalid && !oldcrop.pristine}">
                            <input required type="number" #oldcrop='ngModel' name="oldcrop" [(ngModel)]="AddProductionCosts.Old_Crop_Left" class="form-control"
                              id="text" placeholder="Old crop left to market (tonnes/bales)">
                            <p *ngIf="oldcrop.invalid && !oldcrop.pristine" class="help-block">Stock in market is required.</p>
                          </div>
                        </div>
                        <div class="form-group">
                          <label for="autocomplete" class="col-sm-3 control-label">Target ROI</label>
                          <div class="col-sm-9" [ngClass]="{'has-error':roi.invalid && !roi.pristine}">
                            <input required type="text" #roi='ngModel' name="roi" [(ngModel)]="AddProductionCosts.Target_roi" max="100" min="0" class="form-control"
                              id="autocomplete" placeholder="Target ROI" autocomplete="off">
                            <p *ngIf="roi.invalid && !roi.pristine" class="help-block">Target ROI is required.</p>
                          </div>
                        </div>
                        <div class="form-group">
                          <label for="default" class="col-sm-3 control-label" tooltip="Repairs & Maintenance" placement="top">Costs to Grow Crop/ha
                          </label>
                          <div class="col-sm-1">
                            <button class="btn btn-success" (click)="createCostsArray()">Add Costs</button>
                          </div>
                        </div>
                        <div class="form-group" *ngFor="let cost of costsArray;  let i = index">
                          <div class="col-sm-9 col-sm-offset-3 p-l0">
                            <div class="col-sm-5">
                              <label class="" for="default">Cost Name</label>
                              <input class="form-control ng-pristine ng-invalid ng-touched" name="cname{{i}}" 
                              [(ngModel)]="cost.cost_name" placeholder="Name" required="" type="text">
                            </div>
                            <div class="col-sm-5">
                              <label class="" for="default">Value ($)</label>
                              <input class="form-control ng-pristine ng-invalid ng-touched" name="cval{{i}}" placeholder="Value ($)" 
                              required="" type="text" [(ngModel)]="cost.cost_value">
                            </div>
                            <div class="col-sm-1 m-t25">
                              <button class="btn btn-success" (click)="removeNewCustomFields()">
                                <i class="glyphicon glyphicon-minus"></i>
                              </button>
                            </div>
                          </div>
                        </div>


                        <div class="form-group">
                          <label for="default" class="col-sm-4 control-label" tooltip="Repairs & Maintenance" placement="top">Assets Employed to Grow Crop/ha
                          </label>
                        </div>

                        <div class="form-group">
                          <label for="default" class="col-sm-3 control-label">Land Value
                          </label>
                          <div class="col-sm-9" [ngClass]="{'has-error':landvalue.invalid && !landvalue.pristine}">
                            <input required type="number" #landvalue='ngModel' name="landvalue" [(ngModel)]="AddProductionCosts.LandValue" class="form-control" id="default"
                              placeholder="Land Value">
                            <p *ngIf="landvalue.invalid && !landvalue.pristine" class="help-block">Value is required.</p>
                          </div>
                        </div>

                        <div class="form-group">
                          <label for="default" class="col-sm-3 control-label">Licenses Value
                          </label>
                          <div class="col-sm-9" [ngClass]="{'has-error':lcval.invalid && !lcval.pristine}">
                            <input required type="number" #lcval='ngModel' name="lcval" [(ngModel)]="AddProductionCosts.LicensesValue" class="form-control" id="default"
                              placeholder="Licenses Value">
                            <p *ngIf="lcval.invalid && !lcval.pristine" class="help-block">Value is required.</p>
                          </div>
                        </div>

                        <div class="form-group">
                          <label for="default" class="col-sm-3 control-label">Machinery Value
                          </label>
                          <div class="col-sm-9" [ngClass]="{'has-error':mchnval.invalid && !mchnval.pristine}">
                            <input required type="number" #mchnval='ngModel' name="mchnval" [(ngModel)]="AddProductionCosts.MachineryValue" class="form-control" id="default"
                              placeholder="Machinery Value">
                            <p *ngIf="mchnval.invalid && !mchnval.pristine" class="help-block">Value is required.</p>
                          </div>
                        </div>
                      </form>
                    </div>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-default" (click)="closeBrkEvnModal()">Close</button>
                    <!-- <button type="button" (click)="addBrakevenForcast()" class="btn btn-primary">Add Data for Another Field</button> -->
                    <button type="button" (click)="addBrakevenForcast()" class="btn btn-primary">Submit</button>
                  </div>
                </div>
              </div>
            </div>  
            <!-- addpcModal ends here --> 

            <!--addffmodel starts here-->
            <div class="modal fade bd-example-modal-lg" id="addff" tabindex="-1" bsModal #addff="bs-modal" role="dialog" aria-labelledby="myModalLabel">
                <div class="modal-dialog modal-lg" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h4 class="modal-title" id="myModalLabel">
                        Add Farm and Fields
                        <button type="button" class="close" (click)="closeaddffModal()" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </h4>
                    </div>
                    <div class="modal-body">

                      <div class="panel-body">
                        <div class="alert alert-success" *ngIf="submitAddffForcast">
                          <strong>{{submitAddffForcast}}</strong>
                        </div>
                        <form #addffForm="ngForm" class="form-horizontal">
                            <div class="form-group">
                                <div class="col-sm-3" *ngIf="!newfarm">
                                  <button class="btn btn-success" *ngIf="!newfarm" (click)="newfarm=!newfarm;">Add New Farm</button>
                                </div>
                                <div class="col-sm-3" *ngIf="newfarm">
                                  <button class="btn btn-success" *ngIf="newfarm" (click)="!newfarm=!newfarm">Add Existing Farm</button>
                                </div>
                              </div>

                          <div class="form-group">
                            <label for="default" class="col-sm-3 control-label">Farm Name
                              <span class="field-wrapper required-field"></span>
                            </label>
                            <div class="col-sm-9">
                              <input *ngIf="newfarm" name="newfarm1" type="text" class="form-control" [(ngModel)]="farm.farm_name" />
                              <select *ngIf="!newfarm" class="form-control" name="selectedFarm" [(ngModel)]="farm" id="farm" title="Select Farm">
                                <option *ngFor="let farm of farmDetails" [ngValue]="farm">{{farm.farm_name}}</option>

                              </select>
                            </div>
                          </div>
                          <div class="form-group">
                            <label for="default" class="col-sm-3 control-label">Farm Area (ha.)
                            </label>
                            <div class="col-sm-9" [ngClass]="{'has-error':fmarea.invalid && !fmarea.pristine}">
                              <input required type="number" #fmarea='ngModel' name="fmarea" [(ngModel)]="farm.farm_area" class="form-control" id="default"
                                placeholder="Area (ha)">
                              <p *ngIf="fmarea.invalid && !fmarea.pristine" class="help-block">Area is required.</p>
                            </div>
                          </div>
                          <div class="form-group">
                            <div class="col-sm-3 col-sm-offset-3">
                              <button class="btn btn-success" (click)="createNewCustomFields()">Add Fields</button>
                            </div>
                          </div>
                          <div class="form-group" *ngFor="let field of FieldDetails;  let i = index">

                            <div class="col-sm-9 col-sm-offset-3 p-l0">
                              <div class="col-sm-5">
                                <label class="" for="default">Field Name</label>
                                <input class="form-control" #fieldname="ngModel" name="fieldname{{i}}" [(ngModel)]="field.field_name" placeholder="Field Name" type="text">

                              </div>
                              <div class="col-sm-5">
                                <label class="" for="default">Field Area</label>
                                <input class="form-control" #fieldarea="ngModel" name="fieldarea{{i}}" [(ngModel)]="field.field_area" placeholder="Field Area" type="text">
                              </div>
                              <div class="col-sm-1 m-t25">
                                <button class="btn btn-success" (click)="removeNewCustomFields()">
                                  <i class="glyphicon glyphicon-minus"></i>
                                </button>
                              </div>
                            </div>
                          </div>
                        </form>
                      </div>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-default" (click)="closeaddffModal()">Close</button>
                      <button type="button" (click)="addFarmForm()" [disabled]="disableAfterClick" class="btn btn-primary">Submit</button>
                    </div>
                  </div>
                </div>
            </div>
            <!--addffmodel ends here-->

        <!--popup's ends here-->  

      </div>
    </section>
  </div>
 
</div>