<app-top-navbar></app-top-navbar>
<div class="content-wrapper">
    <div class="container-fluid">
      	<article id="post-3123" class="left-only post-3123 page type-page status-publish hentry">
            <div class="page-content no-image">
              
          <h2><span style="color: #000000;">Frequently Asked Questions &#8230;</span></h2>
    <p><span style="color: #000000;"> </span></p>
    <p><span style="color: #000000;"><strong>Who will pay me?</strong></span></p>
    <p><span style="color: #000000;">AgVantage Commodities connects growers and buyers and as such does not take the principal position.  You will be paid by the buyer as agreed in the terms of the contract.  We deal with longstanding, honorable commodity buyers only to ensure prompt payment.  We will always tell you who the counter party is and if you are uncomfortable in dealing with that counter party you can choose not to sell to that buyer and we will find another buyer for you.  </span></p>
    <p><span style="color: #000000;"><strong>Can you guarantee payment?</strong></span></p>
    <p><span style="color: #000000;">No.  We endeavour to deal with reputable buyers only.  We don&#8217;t deal with all buyers in the market place because we feel that some of them may not have the capacity to meet their payment obligations. We can negotiate payment terms that assist in dealing with some buyers in order to make you more comfortable.</span></p>
    <p><span style="color: #000000;"><strong>Do you buy ex farm or only grain in the bulk handling system?</strong></span></p>
    <p><span style="color: #000000;">Where ever you have grain stored either on farm or delivered into the system, we will find a market for you and assist you in the management and execution of your contracts done through AgVantage Commodities. In fact there have been many occasions where we have assisted producers and buyers in management of contracts done through other parties, as those parties washed their hands of any responsibility after they received their commission.</span></p>
    <p><span style="color: #000000;"><strong>What commodities do you buy?</strong></span></p>
    <p><span style="color: #000000;">If you can grow it we will have a market for you.  We purchase (but not limited to) wheat, durum, barley &#8211; feed and malt, chickpeas, faba beans, lupins, canola, mustard, linseed, sorghum,  corn, mungbeans, soybeans, sunflowers,  cotton and cotton seed.</span></p>
    <p><span style="color: #000000;"><strong>What is your fee?</strong></span></p>
    <p>We have agreements with some buyers whereby we are remunerated by them.  Others that we don&#8217;t have agreements with, we will charge you as is the norm in the brokerage world.   We will always tell you when brokering your grain who the counter party is, what the fees are and who is responsible for their payment.</p>
    <p><span style="color: #000000;"><strong>Do you do forward contracts?</strong></span></p>
    <p><span style="color: #000000;">Yes.  If you wish to take advantage of higher prices or spread your risk, our buyers offer forward physical contracts. </span></p>
    <p><span style="color: #000000;"><strong>When will I get paid?</strong></span></p>
    <p><span style="color: #000000;">Payment terms are negotiated at the time of contracting/sale.  We can arrange different payment options to suit your cash flow requirements, and we deal with an increasing number of buyers willing to shorten payment terms. We can also accommodate deferred payments and payment terms that suit your tax situation, including pool payments that provide cash flow over a set time period.</span></p>
    <p><strong><span style="color: #000000;">Do you offer Pool products?</span></strong></p>
    <p><span style="color: #000000;">Yes, we have access to buyers who run pools.  Talk to us if you are interested, but generally we find pools are better for swimming in and cooling off.</span></p>
    <p><span style="color: #000000;"> </span></p>
    <p>&nbsp;</p>
                
            <div class="share-btns wire-pad alignnone vertical">
        <div class="fake-btns">
              </div><!-- / .fake-btns -->
        <div class="real-btns">
              </div><!-- / .real-btns -->
        <div class="clearfix"></div>
      </div><!-- / .wire-pad -->
    
    
          </div><!-- .entry-content -->
    
          </article>
</div>
</div>
<app-footer ></app-footer>