<div class="row page-title-div" id="headerHouse">
                                <!-- /.col-md-6 -->
                                <div class="col-md-12">
                                    <img src="assets/images/AgVantage-Logo1.png" style="cursor:pointer"  alt="Options - Admin Template" class="img-responsive">
                                </div>
                                <!-- /.col-md-6 text-right -->
                            </div>
