<div class="main-wrapper">
  <app-top-navbar></app-top-navbar>
</div>

<div class="content-wrapper">

  <div class="container-fluid">
    <div class="row page-title-div">
      <div class="col-md-6">
        <h4 class="title">Profitability Matrix</h4>
        <p class="sub-title"></p>
      </div>
      <!-- /.col-sm-6 -->
      <div class="col-sm-6 right-side"></div>
      <!-- /.col-sm-6 text-right -->
    </div>
    <!-- /.row -->
    <div class="row breadcrumb-div">
      <div class="col-sm-6">
        <ul class="breadcrumb">
          <li>
            <a (click)="gotoHome()" style="cursor: pointer">
              <i class="fa fa-home"></i> Dashboard</a> / Profitability Matrix
          </li>
        </ul>
      </div>
      <!-- /.col-sm-6 -->
      <div class="col-sm-6 text-right">
        <a style="cursor: pointer">
          <i class="fa fa-comments"></i> Talk to us</a>

        <a class="pl-20" style="cursor: pointer">
          <i class="fa fa-newspaper-o"></i> Subscription</a>
      </div>
      <!-- /.col-sm-6 -->
    </div>
    <!-- /.row -->
  </div>

  <section class="section pt-10">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
          <div class="panel" data-panel-control>
            <div class="panel-heading">
              <app-ngr-entity-display></app-ngr-entity-display>
            </div>

            <!-- /.panel -->
          </div>
          <!-- /.col-md-6 -->
        </div>
        <!-- /.row -->
      </div>
      <div class="row">
        <div class="col-md-3">
          <label for="default" class="control-label">Commodity
            <span class="field-wrapper required-field"></span>
          </label>
          <select class="form-control" name="commodity" [(ngModel)]="profitMatrix.commodity"  title="Select Commodity">
              <option *ngFor = "let com of commodities" [ngValue]="com.C_ID">{{com.C_NAME}}</option>
          </select>
        </div>
        <div class="col-md-3">
          <label for="default" class="control-label">CropYear
            <span class="field-wrapper required-field"></span>
          </label>
          <select class="form-control" name="cropYear" [(ngModel)]="profitMatrix.cropyear"  title="Select Crop Year">
            <option *ngFor = "let cy of cropYears" [ngValue]="cy.Crop_ID">{{cy.Crop_year}}</option>
            
          </select>
        </div>
        <div class="col-md-3">
          <button class="btn btn-primary" [disabled]="!(profitMatrix.commodity && profitMatrix.cropyear)" (click)="callGridApis();">Go</button>
        </div>

      </div>

    <!-- Use Ag-Grid Wrapper to show all grids -->

    <div id="gridContainer">
        <div class="row" *ngIf="showGrids">
            <div class="col-md-12">
                <h3>Breakeven Per unit</h3>
                <app-ag-grid-wrapper [colDynamic]="commonColDefs" [rowDynamic]="breakevenPerUnitData"></app-ag-grid-wrapper>
            </div>
            
          </div>
      
          <div class="row" *ngIf="showGrids">
              <div class="col-md-12">
                  <h3>Profit Per Hectare</h3>
                  <app-ag-grid-wrapper [colDynamic]="commonColDefs" [rowDynamic]="profitPerHectareData"></app-ag-grid-wrapper>
              </div>
              
            </div>
      
            <div class="row" *ngIf="showGrids">
                <div class="col-md-12">
                    <h3>Profit Per Unit</h3>
                    <app-ag-grid-wrapper [colDynamic]="commonColDefs" [rowDynamic]="profitPerUnitData"></app-ag-grid-wrapper>
                </div>
                
              </div>
      
              <div class="row" *ngIf="showGrids">
                  <div class="col-md-12">
                      <h3>ROI</h3>
                      <app-ag-grid-wrapper [colDynamic]="commonColDefs" [rowDynamic]="ROIData"></app-ag-grid-wrapper>
                  </div>
                  
                </div>
                <div class="row" *ngIf="showGrids">
                    <div class="col-md-12">
                        <h3>What If Matrix</h3>
                        <app-ag-grid-wrapper [colDynamic]="colDefWhatIfMatrix" [rowDynamic]="whatIfMatrixData" [columnTypesDynamic]="colTypes"></app-ag-grid-wrapper>
                    </div>
                    
                  </div>
          
    </div>

    </div>
    <!-- /.container-fluid -->
  </section>
  <!-- /.section -->

</div>