<div class="main-wrapper">
    <app-top-navbar></app-top-navbar>
  </div>
  
  <div class="content-wrapper">
  
    <div class="container-fluid">
      <div class="row page-title-div">
        <div class="col-md-6">
          <h4 class="title">Production & Sales Forecast</h4>
          <p class="sub-title"></p>
        </div>
        <!-- /.col-sm-6 -->
        <div class="col-sm-6 right-side"></div>
        <!-- /.col-sm-6 text-right -->
      </div>
      <!-- /.row -->
      <div class="row breadcrumb-div">
        <div class="col-sm-6">
          <ul class="breadcrumb">
            <li>
              <a (click)="gotoHome()" style="cursor: pointer">
                <i class="fa fa-home"></i> Dashboard</a> / Production & Sales Forecast
            </li>
          </ul>
        </div>
        <!-- /.col-sm-6 -->
        <div class="col-sm-6 text-right">
          <a style="cursor: pointer">
            <i class="fa fa-comments"></i> Talk to us</a>
  
          <a class="pl-20" style="cursor: pointer">
            <i class="fa fa-newspaper-o"></i> Subscription</a>
        </div>
        <!-- /.col-sm-6 -->
      </div>
      <!-- /.row -->
    </div>
  
    <section class="section pt-10">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-12">
            <div class="panel" data-panel-control>
              <div class="panel-heading">
                <app-ngr-entity-display></app-ngr-entity-display>
              </div>
              <!-- /.panel -->
            </div>
            <!-- /.col-md-6 -->
          </div>
          <!-- /.row -->
        </div>
        <div class="row">
            <div class="col-md-12">
              <!-- Button trigger modal -->
              <ag-grid-angular id="grid1" #agGrid style="height:500px;width:99%;" [masterDetail]="true" 
              class="ag-blue" [gridOptions]="gridOptions"  [columnDefs]="columnDefs"  (gridReady)="onGridReady($event)"
              [rowData]="rowData"  [getRowHeight]="getRowHeight" [detailCellRendererParams]="detailCellRendererParams" [groupUseEntireRow]="true"> </ag-grid-angular>
            </div>
          </div>
        
      
      </div>
      <!-- /.container-fluid -->
    </section>
    <!-- /.section -->
  
  </div>