.form-group label{
   font-size:85% !important; 
}

.m-t25{
    margin-top: 25px;
}

.m-t50{
    margin-top: 50px;
}

.m-l20{
    margin-left: 20px;
}

.m-l15{
    margin-left: 15px;
}

.m-r20{
    margin-right: 20px;
}

.p-l0{
    padding-left:0;
}
.p-b0 {
    padding-bottom: 0px;
}

