<div class="main-wrapper setbg">
	<app-top-navbar></app-top-navbar>
	<div class="content-wrapper">

		<div class="container-fluid">
			<div class="row page-title-div">
				<div class="col-md-6">
					<h4 class="title" *ngIf="!widgetForSuperAdmin">Dashboard
						<small class="ml-10"></small>
					</h4>
					<h4 class="title" *ngIf="widgetForSuperAdmin">Admin Dashboard
						<small class="ml-10"></small>
					</h4>
					<p class="sub-title">One stop solution for farmers!</p>
				</div>
				<!-- /.col-sm-6 -->
				<div class="col-sm-6 right-side">
				</div>
				<!-- /.col-sm-6 text-right -->
			</div>
			<!-- /.row -->
			<div class="row breadcrumb-div">
				<div class="col-sm-6">
					<ul class="breadcrumb">
						<li>
							<a style="cursor: pointer">
								<i class="fa fa-home"></i> Dashboard </a>
						</li>
					</ul>
				</div>
				<!-- /.col-sm-6 -->
				<div class="col-sm-6 text-right hidden-xs">
					<a style="cursor:pointer"><i class="fa fa-comments"></i> Talk to us</a>
				</div>
				<!-- /.col-sm-6 -->
			</div>
			<!-- /.row -->
		</div>
		<!-- /.container-fluid -->


		<!-- table start here -->
		<!--<section class="section" *ngIf="widgetForSuperAdmin">
			<div class="container-fluid">
				<div class="row">
					<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
						<a class="dashboard-stat-2 bg-primary" style="cursor:pointer">
							<div class="stat-content">
								<span class="number counter">1,411</span>
								<span class="name">Customers</span>
							</div>
							<span class="stat-footer"><i class="fa fa-arrow-up color-success"></i> 5% growth in 1 month</span>
						</a>
					</div>

					<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
						<a class="dashboard-stat-2 bg-danger" style="cursor:pointer">
							<div class="stat-content">
								<span class="number counter">322</span>
								<span class="name">Commodities</span>
							</div>
							<span class="stat-footer"><i class="fa fa-arrow-down color-success"></i> 10 items increase in 1 years</span>
						</a>
					</div>

					<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
						<a class="dashboard-stat-2 bg-warning" style="cursor:pointer">
							<div class="stat-content">
								<span class="number counter">5,551,000</span>
								<span class="name">Bank Credits</span>
							</div>
							<span class="stat-footer"><i class="fa fa-arrow-up color-success"></i> 7% increase in 3 months</span>
						</a>
					</div>

					<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
						<a class="dashboard-stat-2 bg-success" style="cursor:pointer">
							<div class="stat-content">
								<span class="number counter">Fair</span>
								<span class="name">Overall Performance</span>
							</div>
							<span class="stat-footer"><i class="fa fa-arrow-down color-success"></i> 40% increase in 1 year</span>
						</a>
					</div>
				</div>
			</div>
		</section>-->

		<!-- super admin -->
		<section class="section pt-10" *ngIf="widgetForSuperAdmin">
			<div class="container-fluid">
				<div class="row">
					<div class="col-md-12">
						<div class="panel border-primary no-border border-3-top" data-panel-control>
							<div class="panel-title" style="padding-left:15px;">
								<h5>Detailed Revenue</h5>
							</div>
							<div class="panel-body">
								<aap-superadmin-detailed-revenue-view></aap-superadmin-detailed-revenue-view>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- super admin end -->


		<!-- super admin -->
		<section class="section pt-10" *ngIf="widgetForSuperAdmin">
			<div class="container-fluid">
				<div class="row">
					<div class="col-md-12">
						<div class="panel border-primary no-border border-3-top" data-panel-control>
							<div class="panel-title" style="padding-left:15px;">
								<h5>Detailed Client Management</h5>
							</div>
							<div class="panel-body">
								<aap-superadmin-detailed-client-view></aap-superadmin-detailed-client-view>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- super admin end -->


		<!-- table start here -->
		<section class="section pt-10" *ngIf="!widgetForSuperAdmin">
			<div class="container-fluid">
				<div class="row">
					<div class="col-md-6">
						<div class="panel border-primary no-border border-3-top" data-panel-control>
							<div class="panel-heading">
								<div class="panel-title" style="padding-left:15px;">
									<h5>Actual Vs Target ROI By Comm</h5>
								</div>
							</div>
							<div class="panel-body">
								<table class="table table-striped table-bordered">
									<thead>
									<tr>
										<th>Commodity Name</th>
										<th>Crop Year</th>
										<th>Target ROI</th>
										<th>M2M ROI</th>
										<th>ROI DIFF</th>
									</tr>
									</thead>
									<tbody>
									<tr *ngFor="let graphValues of providerForAddProducerData.ActualVsTargetROIByCommCollection.ActualVsTargetROIByComm">
										<td>{{graphValues.C_NAME}}</td>
										<td>{{graphValues.CRP_YEAR}}</td>
										<td>{{graphValues.TARGET_ROI}}</td>
										<td>{{graphValues.M2M_ROI}}</td>
										<td>{{graphValues.ROI_DIFF}}</td>
									</tr>
									</tbody>
								</table>

							</div>
						</div>
						<!-- /.panel -->
					</div>
					<!-- /.col-md-6 -->


					<div class="col-md-6">
						<div class="panel border-primary no-border border-3-top" data-panel-control>
							<div class="panel-heading">
								<div class="panel-title">
									<h5>Actual Vs Target ROI By Inv</h5>
								</div>
							</div>
							<div class="panel-body">
								<table class="table table-striped table-bordered">
									<thead>
									<tr>
										<th>Commodity Name</th>
										<th>Crop Year</th>
										<th>Storage Name</th>
										<th>Target ROI</th>
										<th>M2M ROI</th>
										<th>ROI DIFF</th>
									</tr>
									</thead>
									<tbody>
									<tr *ngFor="let graphValues of providerForAddProducerData.ActualVsTargetROIByInvCollection.ActualVsTargetROIByInv">
										<td>{{graphValues.C_NAME}}</td>
										<td>{{graphValues.CRP_YEAR}}</td>
										<td>{{graphValues.STORAGE_NAME}}</td>
										<td>{{graphValues.TARGET_ROI}}</td>
										<td>{{graphValues.M2M_ROI}}</td>
										<td>{{graphValues.ROI_DIFF}}</td>
									</tr>
									</tbody>
								</table>
							</div>
						</div>
						<!-- /.panel -->
					</div>
					<!-- /.col-md-6 -->


				</div>
				<!-- /.row -->
			</div>
			<!-- /.container-fluid -->
		</section>
		<!-- /.section -->


		<!-- table start here -->
		<section class="section pt-10" *ngIf="!widgetForSuperAdmin">
			<div class="container-fluid">
				<div class="row">
					<div class="col-md-6">
						<div class="panel border-primary no-border border-3-top" data-panel-control>
							<div class="panel-heading">
								<div class="panel-title" style="padding-left:15px;">
									<h5>Area Yeild by Common Collection</h5>
								</div>
							</div>
							<div class="panel-body">
								<table class="table table-striped table-bordered">
									<thead>
									<tr>
										<th>Commodity Name</th>
										<th>Crop Year</th>
										<th>AREA HECTARES</th>
										<th>YIELD HECTARE</th>
										<th>TOTAL PRODUCTION</th>
									</tr>
									</thead>
									<tbody>
									<tr *ngFor="let graphValues of providerForAddProducerData.AreaYieldByCommCollection.AreaYieldByComm">
										<td>{{graphValues.C_NAME}}</td>
										<td>{{graphValues.CRP_YEAR}}</td>
										<td>{{graphValues.AREA_HECTARES}}</td>
										<td>{{graphValues.YIELD_HECTARE}}</td>
										<td>{{graphValues.TOTAL_PRODUCTION}}</td>
									</tr>
									</tbody>
								</table>

							</div>
						</div>
						<!-- /.panel -->
					</div>
					<!-- /.col-md-6 -->


					<div class="col-md-6">
						<div class="panel border-primary no-border border-3-top" data-panel-control>
							<div class="panel-heading">
								<div class="panel-title">
									<h5>Avg Price Breakeven By Comm Collection</h5>
								</div>
							</div>
							<div class="panel-body">
								<table class="table table-striped table-bordered">
									<thead>
									<tr>
										<th>Commodity Name</th>
										<th>Crop Year</th>
										<th>GROWING PROFIT PER UNIT</th>
										<th>WEIGHTED AVG PRICE PER UNIT</th>
										<th>PROFIT LOSS</th>
									</tr>
									</thead>
									<tbody>
									<tr *ngFor="let graphValues of providerForAddProducerData.AvgPriceBreakEvenByCommCollection.AvgPriceBreakEvenByComm">
										<td>{{graphValues.C_NAME}}</td>
										<td>{{graphValues.CRP_YEAR}}</td>
										<td>{{graphValues.GROWING_PROFIT_PER_UNIT}}</td>
										<td>{{graphValues.WEIGHTED_AVG_PRICE_PER_UNIT}}</td>
										<td>{{graphValues.PROFIT_LOSS}}</td>
									</tr>
									</tbody>
								</table>
							</div>
						</div>
						<!-- /.panel -->
					</div>
					<!-- /.col-md-6 -->


				</div>
				<!-- /.row -->
			</div>
			<!-- /.container-fluid -->
		</section>
		<!-- /.section -->


		<!-- table start here -->
		<section class="section pt-10" *ngIf="!widgetForSuperAdmin">
			<div class="container-fluid">
				<div class="row">
					<div class="col-md-6">
						<div class="panel border-primary no-border border-3-top" data-panel-control>
							<div class="panel-heading">
								<div class="panel-title" style="padding-left:15px;">
									<h5>Area Yeild by Common Collection</h5>
								</div>
							</div>
							<div class="panel-body">
								<table class="table table-striped table-bordered">
									<thead>
									<tr>
										<th>Commodity Name</th>
										<th>STORAGE NAME</th>
										<th>Crop Year</th>
										<th>GROWING PROFIT PER UNIT</th>
										<th>WEIGHTED AVG PRICE PER UNIT</th>
										<th>PROFIT LOSS</th>
									</tr>
									</thead>
									<tbody>
									<tr *ngFor="let graphValues of providerForAddProducerData.AvgPriceBreakEvenByInvCollection.AvgPriceBreakEvenByInv">
										<td>{{graphValues.C_NAME}}</td>
										<td>{{graphValues.STORAGE_NAME}}</td>
										<td>{{graphValues.CRP_YEAR}}</td>
										<td>{{graphValues.GROWING_PROFIT_PER_UNIT}}</td>
										<td>{{graphValues.WEIGHTED_AVG_PRICE_PER_UNIT}}</td>
										<td>{{graphValues.PROFIT_LOSS}}</td>
									</tr>
									</tbody>
								</table>

							</div>
						</div>
						<!-- /.panel -->
					</div>
					<!-- /.col-md-6 -->


					<div class="col-md-6">
						<div class="panel border-primary no-border border-3-top" data-panel-control>
							<div class="panel-heading">
								<div class="panel-title">
									<h5>Comm Avg Growing Cost Collection</h5>
								</div>
							</div>
							<div class="panel-body">
								<table class="table table-striped table-bordered">
									<thead>
									<tr>
										<th>Commodity Name</th>
										<th>Crop Year</th>
										<th>AVG GROWING COST HEC</th>
										<th>AVG REVENUE HEC</th>
										<th>PROFIT LOSS</th>
									</tr>
									</thead>
									<tbody>
									<tr *ngFor="let graphValues of providerForAddProducerData.CommAvgGrowingCostCollection.CommAvgGrowingCost">
										<td>{{graphValues.C_NAME}}</td>
										<td>{{graphValues.CRP_YEAR}}</td>
										<td>{{graphValues.AVG_GROWING_COST_HEC}}</td>
										<td>{{graphValues.AVG_REVENUE_HEC}}</td>
										<td>{{graphValues.PROFIT_LOSS}}</td>
									</tr>
									</tbody>
								</table>
							</div>
						</div>
						<!-- /.panel -->
					</div>
					<!-- /.col-md-6 -->


				</div>
				<!-- /.row -->
			</div>
			<!-- /.container-fluid -->
		</section>
		<!-- /.section -->


		<!-- table start here -->
		<section class="section pt-10" *ngIf="!widgetForSuperAdmin">
			<div class="container-fluid">
				<div class="row">
					<div class="col-md-6">
						<div class="panel border-primary no-border border-3-top" data-panel-control>
							<div class="panel-heading">
								<div class="panel-title" style="padding-left:15px;">
									<h5>Comm Production Fwd Sale Collection</h5>
								</div>
							</div>
							<div class="panel-body">
								<table class="table table-striped table-bordered">
									<thead>
									<tr>
										<th>CROP NAEME</th>
										<th>Crop Year</th>
										<th>GROWING</th>
										<th>SOLD</th>
										<th>SOLD PER</th>
									</tr>
									</thead>
									<tbody>
									<tr *ngFor="let graphValues of providerForAddProducerData.CommProductionFwdSaleCollection.CommProductionFwdSale">
										<td>{{graphValues.C_NAME}}</td>
										<td>{{graphValues.CRP_YEAR}}</td>
										<td>{{graphValues.TOTAL_PRODUCTION}}</td>
										<td>{{graphValues.SOLD}}</td>
										<td>{{graphValues.SOLD_PER}}</td>
									</tr>
									</tbody>
								</table>

							</div>
						</div>
						<!-- /.panel -->
					</div>
					<!-- /.col-md-6 -->


					<div class="col-md-6">
						<div class="panel border-primary no-border border-3-top" data-panel-control>
							<div class="panel-heading">
								<div class="panel-title">
									<h5>Comm Production Sold Collection</h5>
								</div>
							</div>
							<div class="panel-body">
								<table class="table table-striped table-bordered">
									<thead>
									<tr>
										<th>Commodity Name</th>
										<th>Crop Year</th>
										<th>AVG GROWING COST HEC</th>
										<th>AVG REVENUE HEC</th>
										<th>PROFIT LOSS</th>
									</tr>
									</thead>
									<tbody>
									<tr *ngFor="let graphValues of providerForAddProducerData.CommAvgGrowingCostCollection.CommAvgGrowingCost">
										<td>{{graphValues.C_NAME}}</td>
										<td>{{graphValues.CRP_YEAR}}</td>
										<td>{{graphValues.AVG_GROWING_COST_HEC}}</td>
										<td>{{graphValues.AVG_REVENUE_HEC}}</td>
										<td>{{graphValues.PROFIT_LOSS}}</td>
									</tr>
									</tbody>
								</table>
							</div>
						</div>
						<!-- /.panel -->
					</div>
					<!-- /.col-md-6 -->


				</div>
				<!-- /.row -->
			</div>
			<!-- /.container-fluid -->
		</section>
		<!-- /.section -->

		<!-- table start here -->
		<section class="section pt-10" *ngIf="!widgetForSuperAdmin">
			<div class="container-fluid">
				<div class="row">
					<div class="col-md-6">
						<div class="panel border-primary no-border border-3-top" data-panel-control>
							<div class="panel-heading">
								<div class="panel-title" style="padding-left:15px;">
									<h5>M2M Unsold By Comm Collection</h5>
								</div>
							</div>
							<div class="panel-body">
								<table class="table table-striped table-bordered">
									<thead>
									<tr>
										<th>CROP NAEME</th>
										<th>CROP YEAR</th>
										<th>M2M ROI</th>
										<th>UNSOLD PRICE</th>
									</tr>
									</thead>
									<tbody>
									<tr *ngFor="let graphValues of providerForAddProducerData.M2MUnsoldByCommCollection.M2MUnsoldByComm">
										<td>{{graphValues.C_NAME}}</td>
										<td>{{graphValues.CRP_YEAR}}</td>
										<td>{{graphValues.M2M_ROI}}</td>
										<td>{{graphValues.UNSOLD_PRICE}}</td>
									</tr>
									</tbody>
								</table>

							</div>
						</div>
						<!-- /.panel -->
					</div>
					<!-- /.col-md-6 -->


					<div class="col-md-6">
						<div class="panel border-primary no-border border-3-top" data-panel-control>
							<div class="panel-heading">
								<div class="panel-title">
									<h5>M2M Unsold By Inv Collection</h5>
								</div>
							</div>
							<div class="panel-body">
								<table class="table table-striped table-bordered">
									<thead>
									<tr>
										<th>CROP NAEME</th>
										<th>CROP YEAR</th>
										<th>STORAGE NAME</th>
										<th>M2M ROI</th>
										<th>UNSOLD PRICE</th>
									</tr>
									</thead>
									<tbody>
									<tr *ngFor="let graphValues of providerForAddProducerData.M2MUnsoldByInvCollection.M2MUnsoldByInv">
										<td>{{graphValues.C_NAME}}</td>
										<td>{{graphValues.CRP_YEAR}}</td>
										<td>{{graphValues.STORAGE_NAME}}</td>
										<td>{{graphValues.M2M_ROI}}</td>
										<td>{{graphValues.UNSOLD_PRICE}}</td>
									</tr>
									</tbody>
								</table>
							</div>
						</div>
						<!-- /.panel -->
					</div>
					<!-- /.col-md-6 -->


				</div>
				<!-- /.row -->
			</div>
			<!-- /.container-fluid -->
		</section>
		<!-- /.section -->

	</div>

</div>
<div class="row" style="margin-top:50px;"></div>
<app-footer></app-footer>
