<div class="main-wrapper">
  <app-top-navbar></app-top-navbar>
</div>

<div class="content-wrapper">


  <div class="container-fluid">

    <div class="row page-title-div">
      <div class="col-md-6">
        <h4 class="title">Profitabilty Matrix</h4>
        <p class="sub-title"></p>
      </div>
      <!-- /.col-sm-6 -->
      <div class="col-sm-6 right-side"></div>
      <!-- /.col-sm-6 text-right -->
    </div>
    <!-- /.row -->
    <div class="row breadcrumb-div">
      <div class="col-sm-6">
        <ul class="breadcrumb">
          <li>
            <a (click)="gotoHome()" style="cursor: pointer">
              <i class="fa fa-home"></i> Dashboard</a> / Profitabilty Matrix</li>
        </ul>
      </div>
      <!-- /.col-sm-6 -->
      <div class="col-sm-6 text-right hidden-xs">
        <a style="cursor: pointer">
          <i class="fa fa-comments"></i> Talk to us</a>
        <a class="pl-20" style="cursor: pointer">
          <i class="fa fa-newspaper-o"></i> Subscription</a>
      </div>
      <!-- <div class="col-sm-3 text-right hidden-xs"> -->

      <!-- </div> -->
      <!-- /.col-sm-6 -->
    </div>
    <!-- /.row -->
  </div>
  <section class="section pt-10">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
          <div class="panel" data-panel-control>
            <div class="panel-heading">
              <div class="panel-title text-center">
                <h4> {{EntityName}} {{NGR}}</h4>
              </div>
            </div>

            <div class="panel-body">
              <div class="panel">
                <div class="panel-heading">
                  <div class="col-md-12">
                    <!-- Button trigger modal -->
                    Display Profitability Matrix By:
                    <!-- <button type="button" class="btn btn-primary"
										(click)="openBrkEvnModal()">Add
                    Profitabilty Matrix</button> -->
                    <!-- <select name="displayMatrixBy"
                    #displayMatrixBy= "ngModel"
                    class="form-control col-sm-12" 
                    [(ngModel)]="profitabilityMatrix.profmatby"
                    > -->
                      <!-- <option *ngFor="let obj of displayMatrixBy" [ngValue]="obj.name">{{obj.name}}</option> -->
                    <!-- </select> -->

                    <!-- Modal -->

                  </div>
                </div>
                <div class="panel-body">
                  <!-- <div id="prod-chart" [style.width.%]="100" [style.height.px]="500"></div> -->
                  <!-- <app-addedcommoditylist></app-addedcommoditylist> -->
                </div>
                <!-- <div class="panel-body" ngIf="enableGrowingProfit"> -->
                  <!-- <app-profitability-matrix-grid></app-profitability-matrix-grid> -->
                  <!-- <app-profitability-matrix-growing-profit></app-profitability-matrix-growing-profit> -->
                  <app-profitability-matrix-growing-profit></app-profitability-matrix-growing-profit>
                <!-- </div> -->
              </div>
            </div>
          </div>
          <!-- /.panel -->
        </div>
        <!-- /.col-md-6 -->
      </div>
      <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
  </section>
</div>