.has-children {
            position: relative;
            &:hover {
                .child-nav {
                    display: block !important;
                    ul {
                         padding-left: 5em;
                       }
                    a {
                        padding-left: 20px;
                    }
                    span {
                        display: inline-block;
                    }
                }
            }
        }
