<div class="main-wrapper">
<app-top-navbar></app-top-navbar>
<div class="content-wrapper">

 
<div class="container-fluid">

    <div class="row page-title-div">
        <div class="col-md-6">
            <h4 class="title">Marketable Productions and Sales <small class="ml-10">Detailed View</small></h4>
            <p class="sub-title">One stop solution for farmers!</p>
        </div>
        <!-- /.col-sm-6 -->
        <div class="col-sm-6 right-side">
        </div>
        <!-- /.col-sm-6 text-right -->
    </div>
    <!-- /.row -->
    <div class="row breadcrumb-div">
        <div class="col-sm-6">
            <ul class="breadcrumb">
                <li><a (click)="gotoHome()" style="cursor:pointer">
                    <i class="fa fa-home"></i> Dashboard</a> / Marketable Production and Sales</li>
            </ul>
        </div>
        <!-- /.col-sm-6 -->
        <div class="col-sm-6 text-right hidden-xs">
            <a  style="cursor: pointer"><i class="fa fa-comments"></i> Talk to us</a>
            <a  class="pl-20" style="cursor: pointer"><i class="fa fa-newspaper-o"></i> Subscription</a>
        </div>
        <!-- /.col-sm-6 -->
    </div>
    <!-- /.row -->
</div>
<!-- /.container-fluid -->

<!-- <section class="section">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <a class="dashboard-stat-2 bg-primary" href="#">
                    <div class="stat-content">
                        <span class="number counter">1,411</span>
                        <span class="name">Comments</span>
                    </div>
                    <span class="stat-footer"><i class="fa fa-arrow-up color-success"></i> 5% growth in 3 hours</span>
                </a>
                /.dashboard-stat-2
            </div>
            /.col-lg-3 col-md-3 col-sm-6 col-xs-12

            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <a class="dashboard-stat-2 bg-danger" href="#">
                    <div class="stat-content">
                        <span class="number counter">322</span>
                        <span class="name">Total Tickets</span>
                    </div>
                    <span class="stat-footer"><i class="fa fa-arrow-down color-success"></i> 3% decrease in 3 hours</span>
                </a>
                /.dashboard-stat-2
            </div>
            /.col-lg-3 col-md-3 col-sm-6 col-xs-12

            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <a class="dashboard-stat-2 bg-warning" href="#">
                    <div class="stat-content">
                        <span class="number counter">5,551</span>
                        <span class="name">Bank Credits</span>
                    </div>
                    <span class="stat-footer"><i class="fa fa-arrow-up color-success"></i> 7% increase in 3 hours</span>
                </a>
                /.dashboard-stat-2
            </div>
            /.col-lg-3 col-md-3 col-sm-6 col-xs-12

            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <a class="dashboard-stat-2 bg-success" href="#">
                    <div class="stat-content">
                        <span class="number counter">16,710</span>
                        <span class="name">Bank Credits</span>
                    </div>
                    <span class="stat-footer"><i class="fa fa-arrow-down color-danger"></i> 2% decrese in 3 hours</span>
                </a>
                /.dashboard-stat-2
            </div>
            /.col-lg-3 col-md-3 col-sm-6 col-xs-12

        </div>
        /.row
    </div>
    /.container-fluid
</section>
/.section
 -->




<section class="section pt-n">
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-12">
				<div class="panel border-primary no-border border-3-top">
					<div class="panel-heading">
						<div class="panel-title text-center ">
							<h5>Marketable Productions and Sales</h5>

						</div>
						<!-- <div class="dropdown text-right" dropdown>
                            <i class="fa fa-ellipsis-v dropdown-toggle" role="button" id="dropdownMenu3" dropdownToggle></i>
                            <ul class="dropdown-menu dropdown-menu-right bg-gray-500" aria-labelledby="dropdownMenu3" *dropdownMenu >
                                <li><a class="pointerclass">Action</a></li>
                                <li><a class="pointerclass">Another action</a></li>
                                <li><a class="pointerclass">Something else here</a></li>
                            </ul>
                        </div> -->
                    </div>
                    <div class="panel-body">
                        <button type="button" class="btn btn-primary">Add 
                        </button>
                    </div>
					<div class="panel-body">
						<app-marketsalesgrid></app-marketsalesgrid>
					</div>
				</div>
				<!-- /.panel -->
			</div>
			<!-- /.col-md-6 -->

			<!-- /.col-md-6 -->
		</div>
		<!-- /.row -->
	</div>
	<!-- /.container-fluid -->
</section>
<!-- /.section -->




</div>

</div>