<app-header></app-header>

<div class="main-wrapper logincont">
	<div class="login-bg">
		<div class="row">
			<div class="col-md-4 col-md-offset-2 ">
				<div class="login-box">
					<h2 class="text-center mt-10 mb-20">AgVantage Login</h2>
					<form action="index.html" #loginform="ngForm">
						<div class="alert alert-danger" *ngIf="loginRes.IsValid==='false'">
							<strong>Wrong password entered. Please enter correct password.</strong>
						</div>
						<div class="alert alert-danger" *ngIf="errmsg.length>0">
							<strong>{{errmsg}}</strong>
						</div>
						<div class="alert alert-success" *ngIf="msgToShow.length>0">
							<strong>{{msgToShow}}</strong>
						</div>
						<div class="form-group" [ngClass]="{'has-error':usrname.invalid && !usrname.pristine}">
							<label for="exampleInputEmail1">Username (Email Address)</label>
							<input type="text" class="form-control input-lg"
								[(ngModel)]="username" name="usrname" #usrname='ngModel'
								placeholder="username@domain.com.au" autocomplete="off" required>
								<p class="help-block" *ngIf="usrname.invalid && !usrname.pristine">Username is required.</p>
						</div>
						<div class="form-group" [ngClass]="{'has-error':psword.invalid && !psword.pristine}">
							<label for="exampleInputPassword1">Password</label> <input
								type="password" [(ngModel)]="password"
								class="form-control input-lg" name="psword" #psword='ngModel'
								placeholder="Password" required>
								<p class="help-block" *ngIf="psword.invalid && !psword.pristine">Password is required.</p>
						</div>
						
						<div class="form-group ">
							<div class="checkbox pull-left">
								<label for="rememberme"> <input type="checkbox">
									<span style="vertical-align: middle;">Remember me</span>
								</label>
							</div>
							<div class="text-center pull-right">
								<a style="cursor: pointer;" (click)="gotoFP()"
									class="form-link "><small class="muted-text">Forgot
										Password?</small></a>
							</div>
							<div class="clearfix"></div>
						</div>

						<div class="form-group mt-20">
							<div class="">
								<!--  <a ui-sref="signup" class="form-link"><small class="muted-text">Register?</small></a> -->
								<button type="button"
									class="btn btn-primary btn-labeled pull-right"
									(click)="gotoSignup()">
									Set Up Account<span class="btn-label btn-label-right"><i
										class="fa fa-user"></i></span>
								</button>
								<button type="button" (click)="gotoDashboard()"
									class="btn btn-success btn-labeled pull-left">
									Sign in<span class="btn-label btn-label-right"><i
										class="fa fa-check"></i></span>
								</button>
								<div class="clearfix"></div>
							</div>
						</div>
					</form>
				</div>
				<!-- /.login-box -->
			</div>
			<!-- /.col-md-6 col-md-offset-3 -->

			<div class="col-md-offset-1 col-md-4  paneldesign">
				<div class="panel panel-info" data-panel-control
					data-sortable="true">
					<div class="panel-heading">
						<div class="panel-title">
							<h4>Reason our customer choose us</h4>
						</div>
					</div>
					<div class="panel-body">
						<div *ngFor="let reason of reasons" class="spacing">
							<span><img [src]="reason.img" style="height:40px"></span><span
								style="padding-left: 5px;">{{reason.why}}</span>
						</div>
						<!-- <img src="assets/whatever-image.png" /> -->
					</div>
				</div>
			</div>
		</div>
		<!-- /.row -->
	</div>
	<!-- /. -->

</div>
<!-- /.main-wrapper -->
<app-footer></app-footer>