<app-top-navbar></app-top-navbar>
<div class="content-wrapper">
    <div class="container-fluid">
            <article id="post-3181" class="left-only post-3181 page type-page status-publish hentry">
                    <div class="page-content no-image">
                <h2><span style="color: #000000;">AgVantage Commodities, <strong>locally-owned by Steve and Brooke Dalton</strong>, opened as an agricultural cropping commodity marketing company in Narrabri, NSW, Australia, in 2008 in response to the deregulation of the wheat market. </span></h2>
    <p><span style="color: #000000;"> </span></p>
    <p><span style="color: #000000;">This market change brought increased options for Australian buyers and producers and an opening for a commodity marketing company that would <strong>facilitate the connections between agricultural buyers and sellers</strong>.</span></p>
    <p><span style="color: #000000;">Through knowledge, experience and integrity, AgVantage has become a leader in providing agricultural commodity marketing services to Australian buyers and producers of grains, pulses, oil seeds, and cotton. </span></p>
    <p><span style="color: #000000;">We work with a select group of reputable traders and consumers to service their procurement needs – and in doing so, we build trusted relationships that ensure <strong>our focus is on service to buyers and sellers</strong> rather than volume.  </span></p>
    <p><span style="color: #000000;"><strong>AgVantage Commodities purchases cotton as agents for </strong>ECOM Cotton, COFCO Resources &amp; CNCGC Australian in the MacIntyre, Gwydir, Namoi and Macquarie Valleys.</span></p>
    <p><strong>We currently procure grains, pulses &amp; oil seeds for:</strong></p>
    <table style="height: 1599px;" width="630">
    <tbody>
    <tr>
    <td width="197">ADM Trading Australia Pty Ltd</td>
    <td width="199">GrainTrend</td>
    </tr>
    <tr>
    <td width="197">Agmark Pty Ltd</td>
    <td width="199">Horizon Commodities Pty Ltd</td>
    </tr>
    <tr>
    <td width="197">Agracom Pty Ltd</td>
    <td width="199">JBS Australia Pty Limited</td>
    </tr>
    <tr>
    <td width="197">Agrex Australia Pty Ltd</td>
    <td width="199">KB Agri Services Pty Ltd</td>
    </tr>
    <tr>
    <td width="197">Agriex Australia Pty Ltd</td>
    <td width="199">Lachlan Commodities Pty Ltd</td>
    </tr>
    <tr>
    <td width="197">Agrifoods Australia</td>
    <td width="199">Lempriere Grain Pty Ltd</td>
    </tr>
    <tr>
    <td width="197">Agrigrain Pty Ltd</td>
    <td width="199">Louis Dreyfus Company Australia Pty Ltd</td>
    </tr>
    <tr>
    <td width="197">AGT Foods Australia</td>
    <td width="199">Manildra Pty Ltd</td>
    </tr>
    <tr>
    <td width="197">Alliance Grains Pty Ltd</td>
    <td width="199">Mauri anz (formerly Weston Milling)</td>
    </tr>
    <tr>
    <td width="197">Allied Mills Australia Pty Ltd</td>
    <td width="199">Max Grains Pty Ltd</td>
    </tr>
    <tr>
    <td width="197">Arrow Commodities Pty Ltd</td>
    <td width="199">MSM Milling Pty Ltd</td>
    </tr>
    <tr>
    <td width="197">Associated Grain Pty Ltd</td>
    <td width="199">Network Grains Pty Ltd</td>
    </tr>
    <tr>
    <td width="197">Australian Grain Export Pty Ltd</td>
    <td width="199">Nidera Australia Pty Ltd</td>
    </tr>
    <tr>
    <td width="197">Australian Grainlink Pty Ltd</td>
    <td width="199">Norco Grain Pty Ltd</td>
    </tr>
    <tr>
    <td width="197">Barrett Burston Malting Co. Pty Ltd</td>
    <td width="199">Ooma Enterprises NSW Pty Ltd</td>
    </tr>
    <tr>
    <td width="197">Bean Growers Australia Limited</td>
    <td width="199">Pace Farm Pty Ltd</td>
    </tr>
    <tr>
    <td width="197">Ben Furney Flour Mills</td>
    <td width="199">PB Agrifood</td>
    </tr>
    <tr>
    <td width="197">Blue Ribbon Grain &amp; Pulses Pty Ltd</td>
    <td width="199">Peters Commodities Pty Ltd</td>
    </tr>
    <tr>
    <td width="197">Broun and Co. Grain Pty Ltd</td>
    <td width="199">WW Agri Pty Ltd</td>
    </tr>
    <tr>
    <td width="197">Cameron Pastoral Company Pty Ltd</td>
    <td width="199">Phoenix Global Australia Pty Ltd</td>
    </tr>
    <tr>
    <td width="197">Cargill Australia Limited T/A AWB</td>
    <td width="199">Queensland Cotton &#8211; Mt Tyson Seeds</td>
    </tr>
    <tr>
    <td width="197">CHS Broadbent Grain Pty Ltd</td>
    <td width="199">Quirindi Grain &amp; Produce</td>
    </tr>
    <tr>
    <td width="197">GrainCorp Operations Limited</td>
    <td width="199">Ridley Agri Products Pty Ltd</td>
    </tr>
    <tr>
    <td width="197">Cory Johnston (Aust.) Pty Ltd</td>
    <td width="199">Riordan Grain Services</td>
    </tr>
    <tr>
    <td width="197">Dalby Bio-Refinery Limited</td>
    <td width="199">Riverina (Australia) Pty Ltd</td>
    </tr>
    <tr>
    <td width="197">Direct Commodities Pty Ltd</td>
    <td width="199">Robinson Grain Trading Co. Pty Ltd</td>
    </tr>
    <tr>
    <td width="197">Elders</td>
    <td width="199">Sanwa Pty Ltd</td>
    </tr>
    <tr>
    <td width="197">Emerald Grain Australia Pty Ltd</td>
    <td width="199">Silo Bag Grain Pty Ltd</td>
    </tr>
    <tr>
    <td width="197">Export Trading Group Australia Pty Ltd</td>
    <td width="199">Stewarts Grain Trading Pty Ltd</td>
    </tr>
    <tr>
    <td width="197">Fabi Foods</td>
    <td width="199">Weston Animal Nutrition</td>
    </tr>
    <tr>
    <td width="197">Fletcher International Exports Pty Ltd</td>
    <td width="199">Whyalla Beef Pty Ltd</td>
    </tr>
    <tr>
    <td width="197">Glencore Grain Pty Ltd</td>
    <td width="199">Wilmar Gavilon</td>
    </tr>
    <tr>
    <td width="197">Grain Trans Pty Ltd</td>
    <td width="199">Woods Grain</td>
    </tr>
    <tr>
    <td width="197"></td>
    <td width="199"></td>
    </tr>
    </tbody>
    </table>
    <p><span style="color: #000000;">If you would like to leverage from AgVantage Commodities services, please contact us to discuss how we can add value to your business.</span></p>
    <p>&nbsp;</p>
                            
                    <div class="share-btns wire-pad alignnone vertical">
            <div class="fake-btns">
                        </div><!-- / .fake-btns -->
            <div class="real-btns">
                        </div><!-- / .real-btns -->
            <div class="clearfix"></div>
        </div><!-- / .wire-pad -->
    
    
                </div><!-- .entry-content -->
    
                </article>
    
    
</div><!--container-fluid -->
</div><!--container-wrapper -->
<app-footer ></app-footer>