<!-- <div class="alert alert-success" *ngIf="saveMessage">
    <strong>{{saveMessage}}</strong>
  </div>
   -->
   <div class = "alert alert-success" *ngIf="saveMessage">{{saveMessage}}</div>
  <ag-grid-angular id="grid1" #agGrid style="height:300px;width:99%;"
    [enableFilter]="true" [enableSorting]="true" [enableColResize]="true"
    class="ag-blue" [gridOptions]="gridOptions" [enableMenu]="true"  [defaultColDef]="defaultColDef" 
    [columnDefs]="columnDefs" [getRowNodeId]="getRowNodeId" (gridReady)="onGridReady($event)" [context]="context" 
    [rowData]="rowData" [groupUseEntireRow]="true" [frameworkComponents]="frameworkComponents"> </ag-grid-angular>
  