<app-header></app-header>

<div class="main-wrapper logincont">

	<div class="login-bg">
		<div class="row">
			<div class="alert alert-success col-md-4 col-md-offset-2"
				style="margin-top: 100px;" *ngIf="showSuccessMsg" role="alert">
				<strong>Info!</strong> {{FPres}}.
				<button type="button" (click)="gotoLogin()" 
									class="btn btn-success btn-labeled pull-right">
									Sign in<span class="btn-label btn-label-right"><i
										class="fa fa-check"></i></span>
								</button>
			</div>
			

			<div class="col-md-4 col-md-offset-2 " *ngIf="showFPBox">
				<div class="login-box">
					<h2 class="text-center mt-10 mb-20">Forgot Password</h2>

					<form #userform="ngForm" novalidate>
						<div class="form-group" style="position: relative"
							[ngClass]="{ 'has-error' : email.invalid && !email.pristine || userStatusRes.Status=='NOT EXISTS' || userStatusRes.Status=='INACTIVE' ,'has-success':email.valid && userStatusRes.Status=='ACTIVE'}">
							<label for="exampleInputEmail13">Username (Should be Email address)<span style="color: red;">*</span>
							</label> <input type="email" #email="ngModel" name="email"
								[(ngModel)]="USER.U_USERNAME" class="form-control"
								id="exampleInputEmail13"  email
								placeholder="Enter Your Email Id" required> <span
								style="color: green; position: absolute; bottom: 1px; float: right; right: 2px"
								*ngIf="userStatusRes.Status=='ACTIVE' && !checking && hideValid"><i
								class="fa fa-2x fa-check-circle" aria-hidden="true"></i></span> <span
								*ngIf="checking"
								style="position: absolute; bottom: 1px; float: right; right: 2px"><i
								class="fa fa-2x fa-spinner fa-spin" aria-hidden="true"></i></span>
							<p *ngIf="email.invalid && !email.pristine" class="help-block">You
								have not given a correct e-mail address</p>
							<p *ngIf="userStatusRes.Status=='NOT EXISTS'" class="help-block">You
								are not a registered user.</p>
							<p *ngIf="userStatusRes.Status=='INACTIVE'" class="help-block">User
								registration under approval and not active yet.</p>
						</div>
						<div class="clearfix"></div>
						<div class="form-group mt-20">
							<div class="">
								<!--  <a ui-sref="signup" class="form-link"><small class="muted-text">Register?</small></a> -->
								<button type="button" (click)="checkUserStatus()"
									class="btn btn-success btn-labeled pull-left">
									Submit<span class="btn-label btn-label-right"><i
										class="fa fa-check"></i></span>
								</button>
								<a href="/login" style="float:right;padding-top:5px;"><span class="text-primary text-underline"><u>Go to login</u></span></a>
							</div>
						</div>
					</form>
				</div>
				<!-- /.login-box -->
			</div>
			<!-- /.col-md-6 col-md-offset-3 -->

			<div class="col-md-offset-1 col-md-4  paneldesign"
				style="margin-top: 100px;" *ngIf="showFPBox || showSuccessMsg">
				<div class="panel panel-info" data-panel-control
					data-sortable="true">
					<div class="panel-heading">
						<div class="panel-title">
							<h4>Reason our customer choose us</h4>
						</div>
					</div>
					<div class="panel-body">
						<div *ngFor="let reason of reasons" style="margin-top: 10px;">
							<span>
								<img [src]="reason.img" style="height:40px">
							</span>
							<span style="padding-left: 5px;">{{reason.why}}</span>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- /.row -->
	</div>
	<!-- /. -->

</div>
<!-- /.main-wrapper -->
<app-footer></app-footer>