<div class="main-wrapper">
	<app-top-navbar></app-top-navbar>
</div>

<div class="content-wrapper">


	<div class="container-fluid">

		<div class="row page-title-div">
			<div class="col-md-6">
				<h4 class="title">Add Commodity</h4>
				<p class="sub-title">List your Product</p>
			</div>
			<!-- /.col-sm-6 -->
			<div class="col-sm-6 right-side"></div>
			<!-- /.col-sm-6 text-right -->
		</div>
		<!-- /.row -->
		<div class="row breadcrumb-div">
			<div class="col-sm-6">
				<ul class="breadcrumb">
					<li><a (click)="gotoHome()" style="cursor: pointer">
            <i class="fa fa-home"></i> Dashboard</a> / Add Commodity</li>
				</ul>
			</div>
			<!-- /.col-sm-6 -->
			<div class="col-sm-6 text-right hidden-xs">
				<a  style="cursor: pointer"><i class="fa fa-comments"></i> Talk to us</a>
				<a  class="pl-20" style="cursor: pointer"><i class="fa fa-newspaper-o"></i> Subscription</a>
			</div>
			<!-- /.col-sm-6 -->
		</div>
		<!-- /.row -->
	</div>
  <section class="section pt-10">
  <tabset [justified]="true">
    <tab heading="AddCommodityByType">
      
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-12">
              <div class="panel border-primary no-border border-3-top" data-panel-control>
                <div class="panel-heading">
                  <div class="panel-title text-center">
                    <h4>Add Commodity By Type</h4>
                  </div>
                </div>
  
                <div class="panel-body">
                  <div class="panel">
                    <div class="panel-heading">
                      <div class="col-md-12">
                        <!-- Button trigger modal -->
                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">Add Commodity By Type
                        </button>
  
                        <!-- Modal -->
                        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                          <div class="modal-dialog" role="document">
                            <div class="modal-content" style="height: 60vh; overflow: auto;">
                              <div class="modal-header">
                                <h4 class="modal-title" id="myModalLabel">
                                  Add Commodity By Type
                                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                  </button>
                                </h4>
                              </div>
                              <div class="modal-body">
  
                                <div class="panel-body">
                                  <!-- <div class="alert alert-success" *ngIf="submitCommodity">
                                    <strong>{{submitCommodity}}</strong>
                                  </div> -->
                                  <form #addCommodityByTypeForm="ngForm" class="form-horizontal">
  
                                    <div class="form-group">
                                      <label for="default" class="col-sm-4 control-label">Commodity Type
                                        <span class="field-wrapper required-field"></span>
                                      </label>
                                      <div class="col-sm-6">
                                        <select class="form-control " name="selectedCommodity" (change)="callGrades()" [(ngModel)]="commodity.SCC_C_ID" id="Commodity"
                                          placeholder="eg. wheat,Malt Barley">
                                          <option *ngFor="let commodity of commodities" [ngValue]="commodity.C_ID">{{commodity.C_NAME}}</option>
  
                                        </select>
                                      </div>
                                    </div>
                                    
                                    <div class="form-group">
                                      <label for="default" class="col-sm-4 control-label">Commodity Name
                                      </label>
                                      <div class="col-sm-6" [ngClass]="{'has-error':commodityName.invalid && !commodityName.pristine}">
                                        <input required type="text" #commodityName='ngModel' name="commodityName" [(ngModel)]="commodity.CommodityName" class="form-control" id="default"
                                          placeholder="">
                                        <p *ngIf="commodityName.invalid && !commodityName.pristine" class="help-block">Commodity Name is required.</p>
                                        <!-- <div [hidden]="sccarea.valid || sccarea.pristine"
  																			class="help-block">
  																				<div [hidden]="!sccarea.hasError('minlength')">Field should be 5 digits</div>
  																				<div [hidden]="sccarea.hasError('required')">Field is required</div>
  																				<div [hidden]="!sccarea.hasError('pattern')">Field should be only numbers</div>
  																			</div> -->
                                      </div>
                                    </div>
                                    <div class="form-group">
                                      <label for="default" class="col-sm-4 control-label">Grade</label>
                                      <div class="col-sm-6" [ngClass]="{'has-error':grade.invalid && !grade.pristine}">
                                        <input required type="text" #grade='ngModel' name="grade" [(ngModel)]="commodity.Grade" class="form-control"
                                          id="default" placeholder="">
                                        <p *ngIf="grade.invalid && !grade.pristine" class="help-block">Grade is required.</p>
                                        <!-- <div [hidden]="yield.valid || yield.pristine"
  																			class="help-block">
  																				<div [hidden]="!yield.hasError('minlength')">Field should be 5 digits</div>
  																				<div [hidden]="!yield.hasError('required')">Field is required</div>
  																				<div [hidden]="!yield.hasError('pattern')">Field should be only numbers</div>
  																			</div> -->
                                      </div>
                                    </div>
                                    <div class="form-group">
                                      <label for="text" class="col-sm-4 control-label" tooltip="" placement="top">Crop year</label>
                                      <div class="col-sm-6" [ngClass]="{'has-error':cropYear.invalid && !cropYear.pristine}">
                                        <input required type="text" #cropYear='ngModel' name="cropYear" [(ngModel)]="commodity.CropYear" class="form-control" id="text">
                                        <p *ngIf="cropYear.invalid && !cropYear.pristine" class="help-block">Crop year is required.</p>
                                        <!-- <div [hidden]="remamt.valid || remamt.pristine"
  																			class="help-block">
  																				<div [hidden]="!remamt.hasError('minlength')">Field should be 5 digits</div>
  																				<div [hidden]="!remamt.hasError('required')">Field is required</div>
  																				<div [hidden]="!remamt.hasError('pattern')">Field should be only numbers</div>
  																			</div> -->
                                      </div>
                                    </div>
                                    
  
                                  </form>
  
                                </div>  
                              </div>
                              <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                <button type="button" (click)="addCommodityByType()" [disabled]="addCommodityByTypeForm.form.invalid" class="btn btn-primary">Add</button>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
    
                    <div class="panel-body">
                      <!-- <div id="prod-chart" [style.width.%]="100" [style.height.px]="500"></div> -->
                      <!-- <app-addedcommoditylist></app-addedcommoditylist> -->
                      <!-- <app-add-commodity-by-type-list></app-add-commodity-by-type-list> -->

                    </div>
                    <app-add-commodity-by-type-list></app-add-commodity-by-type-list>
                  </div>
  
  
  
  
                </div>
  
  
              </div>
              <!-- /.panel -->
            </div>
            <!-- /.col-md-6 -->
          </div>
          <!-- /.row -->
        </div>
        <!-- /.container-fluid -->
      
    </tab>
    <tab heading="AddCommodityByGradeSpecification">
        <div class="container-fluid">
            <div class="row">
              <div class="col-md-12">
                <div class="panel border-primary no-border border-3-top" data-panel-control>
                  <div class="panel-heading">
                    <div class="panel-title text-center">
                      <h4>Add Commodity By Grade Specification</h4>
                    </div>
                  </div>
    
                  <div class="panel-body">
                    <!-- <div id="prod-chart" [style.width.%]="100" [style.height.px]="500"></div> -->  
                    <div class="panel">
                      <div class="panel-heading">
                        <div class="col-md-12 mb-15">
                          <!-- Button trigger modal -->
                          <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addCommByGrade">Add Commodity By Grade Specification
                          </button>
    
                          <!-- Modal -->
                          <div class="modal fade" id="addCommByGrade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                            <div class="modal-dialog" role="document">
                              <div class="modal-content" style="height: 50vh; overflow: auto;">
                                <div class="modal-header">
                                  <h4 class="modal-title" id="myModalLabel">
                                    Add Commodity By Grade Specification
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                      <span aria-hidden="true">&times;</span>
                                    </button>
                                  </h4>
                                </div>
                                <div class="modal-body">
    
                                  <div class="panel-body">
                                    <!-- <div class="alert alert-success" *ngIf="submitCommodity">
                                      <strong>{{submitCommodity}}</strong>
                                    </div> -->
                                    <form #addCommodityByGradeSpecForm="ngForm" class="form-horizontal">
    
                                      <div class="form-group">
                                        <label for="default" class="col-sm-4 control-label">Commodity Type
                                          <span class="field-wrapper required-field"></span>
                                        </label>
                                        <div class="col-sm-6">
                                          <select class="form-control " name="selectedCommodity" (change)="callGrades()" [(ngModel)]="commodity.SCC_C_ID" id="Commodity"
                                            placeholder="eg. wheat,Malt Barley">
                                            <option *ngFor="let commodity of commodities" [ngValue]="commodity.C_ID">{{commodity.C_NAME}}</option>
    
                                          </select>
                                        </div>
                                      </div>
                                      
                                      <div class="form-group">
                                        <label for="default" class="col-sm-4 control-label">Commodity Name
                                        </label>
                                        <div class="col-sm-6">
                                            <select class="form-control " name="selectedCommodity" (change)="callGrades()" [(ngModel)]="commodity.SCC_C_ID" id="Commodity"
                                              placeholder="eg. wheat,Malt Barley">
                                              <option *ngFor="let commodity of commodities" [ngValue]="commodity.C_ID">{{commodity.C_NAME}}</option>
      
                                            </select>
                                          </div>
                                      </div>
                                      <div class="form-group">
                                        <label for="default" class="col-sm-4 control-label">Grade</label>
                                        <div class="col-sm-6" [ngClass]="{'has-error':gradespec.invalid && !gradespec.pristine}">
                                          <input required type="text" #gradespec='ngModel' name="gradespec" [(ngModel)]="commodity.GradeSpec" class="form-control"
                                            id="default" placeholder="">
                                          <p *ngIf="gradespec.invalid && !gradespec.pristine" class="help-block">Grade is required.</p>
                                          <!-- <div [hidden]="yield.valid || yield.pristine"
                                          class="help-block">
                                            <div [hidden]="!yield.hasError('minlength')">Field should be 5 digits</div>
                                            <div [hidden]="!yield.hasError('required')">Field is required</div>
                                            <div [hidden]="!yield.hasError('pattern')">Field should be only numbers</div>
                                          </div> -->
                                        </div>
                                      </div>                                
                                    </form>
                                  </div>  
                                </div>
                                <div class="modal-footer">
                                  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                  <button type="button" (click)="addCommodityByGradeSpec()" [disabled]="addCommodityByGradeSpecForm.form.invalid" class="btn btn-primary">Add</button>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
      
                      <div class="panel-body">
                                  
                        <!-- <app-add-commodity-by-grade-list></app-add-commodity-by-grade-list> -->
  
                      </div>
                      <app-add-commodity-by-grade-list></app-add-commodity-by-grade-list>
                    </div>
    
    
    
    
                  </div>
    
    
                </div>
                <!-- /.panel -->
              </div>
              <!-- /.col-md-6 -->
            </div>
            <!-- /.row -->
          </div>
    </tab>
    <tab heading="AddPublicWarehouseByState">
        <div class="container-fluid">
            <div class="row">
              <div class="col-md-12">
                <div class="panel border-primary no-border border-3-top" data-panel-control>
                  <div class="panel-heading">
                    <div class="panel-title text-center">
                      <h4>Add Public Warehouse By State</h4>
                    </div>
                  </div>
    
                  <div class="panel-body">
                    <!-- <div id="prod-chart" [style.width.%]="100" [style.height.px]="500"></div> -->  
                    <div class="panel">
                      <div class="panel-heading">
                        <div class="col-md-12 mb-15">
                          <!-- Button trigger modal -->
                          <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addPWByState">Add Public Warehouse By State
                          </button>
    
                          <!-- Modal -->
                          <div class="modal fade" id="addPWByState" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                            <div class="modal-dialog" role="document">
                              <div class="modal-content" style="height: 70vh; overflow: auto;">
                                <div class="modal-header">
                                  <h4 class="modal-title" id="myModalLabel">
                                    Add Public Warehouse  By State
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                      <span aria-hidden="true">&times;</span>
                                    </button>
                                  </h4>
                                </div>
                                <div class="modal-body">
    
                                  <div class="panel-body">
                                    <!-- <div class="alert alert-success" *ngIf="submitCommodity">
                                      <strong>{{submitCommodity}}</strong>
                                    </div> -->
                                    <form #addPublicWarehouseByStateForm="ngForm" class="form-horizontal">
    
                                      <div class="form-group">
                                        <label for="default" class="col-sm-4 control-label">Unit
                                          <span class="field-wrapper required-field"></span>
                                        </label>
                                        <div class="col-sm-6" [ngClass]="{'has-error':unit.invalid && !unit.pristine}">
                                            <input required type="text" #unit='ngModel' name="unit" [(ngModel)]="commodity.Unit" class="form-control" id="default"
                                              placeholder="">
                                            <p *ngIf="unit.invalid && !unit.pristine" class="help-block">Unit Name is required.</p>
                                            <!-- <div [hidden]="sccarea.valid || sccarea.pristine"
                                            class="help-block">
                                              <div [hidden]="!sccarea.hasError('minlength')">Field should be 5 digits</div>
                                              <div [hidden]="sccarea.hasError('required')">Field is required</div>
                                              <div [hidden]="!sccarea.hasError('pattern')">Field should be only numbers</div>
                                            </div> -->
                                          </div>
                                      </div>
                                      
                                      <div class="form-group">
                                        <label for="default" class="col-sm-4 control-label">Street
                                        </label>
                                        <div class="col-sm-6" [ngClass]="{'has-error':street.invalid && !street.pristine}">
                                          <input required type="text" #street='ngModel' name="street" [(ngModel)]="commodity.Street" class="form-control" id="default"
                                            placeholder="">
                                          <p *ngIf="street.invalid && !street.pristine" class="help-block">Street Name is required.</p>
                                          <!-- <div [hidden]="sccarea.valid || sccarea.pristine"
                                          class="help-block">
                                            <div [hidden]="!sccarea.hasError('minlength')">Field should be 5 digits</div>
                                            <div [hidden]="sccarea.hasError('required')">Field is required</div>
                                            <div [hidden]="!sccarea.hasError('pattern')">Field should be only numbers</div>
                                          </div> -->
                                        </div>
                                      </div>
                                      <div class="form-group">
                                        <label for="default" class="col-sm-4 control-label">Suburb</label>
                                        <div class="col-sm-6" [ngClass]="{'has-error':suburb.invalid && !suburb.pristine}">
                                          <input required type="text" #suburb='ngModel' name="suburb" [(ngModel)]="commodity.Suburb" class="form-control"
                                            id="default" placeholder="">
                                          <p *ngIf="suburb.invalid && !suburb.pristine" class="help-block">Suburb is required.</p>
                                          <!-- <div [hidden]="yield.valid || yield.pristine"
                                          class="help-block">
                                            <div [hidden]="!yield.hasError('minlength')">Field should be 5 digits</div>
                                            <div [hidden]="!yield.hasError('required')">Field is required</div>
                                            <div [hidden]="!yield.hasError('pattern')">Field should be only numbers</div>
                                          </div> -->
                                        </div>
                                      </div>
                                      <div class="form-group">
                                        <label for="text" class="col-sm-4 control-label" tooltip="" placement="top">City</label>
                                        <div class="col-sm-6" [ngClass]="{'has-error':city.invalid && !city.pristine}">
                                          <input required type="text" #city='ngModel' name="city" [(ngModel)]="commodity.City" class="form-control" id="text">
                                          <p *ngIf="city.invalid && !city.pristine" class="help-block">city is required.</p>
                                          <!-- <div [hidden]="remamt.valid || remamt.pristine"
                                          class="help-block">
                                            <div [hidden]="!remamt.hasError('minlength')">Field should be 5 digits</div>
                                            <div [hidden]="!remamt.hasError('required')">Field is required</div>
                                            <div [hidden]="!remamt.hasError('pattern')">Field should be only numbers</div>
                                          </div> -->
                                        </div>
                                      </div>
                                      <div class="form-group">
                                        <label for="text" class="col-sm-4 control-label" tooltip="" placement="top">State</label>
                                        <div class="col-sm-6" [ngClass]="{'has-error':state.invalid && !state.pristine}">
                                          <input required type="text" #state='ngModel' name="state" [(ngModel)]="commodity.State" class="form-control" id="text">
                                          <p *ngIf="state.invalid && !state.pristine" class="help-block">city is required.</p>
                                          <!-- <div [hidden]="remamt.valid || remamt.pristine"
                                          class="help-block">
                                            <div [hidden]="!remamt.hasError('minlength')">Field should be 5 digits</div>
                                            <div [hidden]="!remamt.hasError('required')">Field is required</div>
                                            <div [hidden]="!remamt.hasError('pattern')">Field should be only numbers</div>
                                          </div> -->
                                        </div>
                                      </div>
                                      <div class="form-group">
                                        <label for="text" class="col-sm-4 control-label" tooltip="" placement="top">PinCode</label>
                                        <div class="col-sm-6" [ngClass]="{'has-error':pinCode.invalid && !pinCode.pristine}">
                                          <input required type="text" #pinCode='ngModel' name="pinCode" [(ngModel)]="commodity.PinCode" class="form-control" id="text">
                                          <p *ngIf="pinCode.invalid && !pinCode.pristine" class="help-block">PinCode is required.</p>
                                          <!-- <div [hidden]="remamt.valid || remamt.pristine"
                                          class="help-block">
                                            <div [hidden]="!remamt.hasError('minlength')">Field should be 5 digits</div>
                                            <div [hidden]="!remamt.hasError('required')">Field is required</div>
                                            <div [hidden]="!remamt.hasError('pattern')">Field should be only numbers</div>
                                          </div> -->
                                        </div>
                                      </div>
                                      <div class="form-group">
                                        <label for="text" class="col-sm-4 control-label" tooltip="" placement="top">Nearest Terminal Port</label>
                                        <div class="col-sm-6" [ngClass]="{'has-error':state.invalid && !nearTrmnlPort.pristine}">
                                          <input required type="text" #nearTrmnlPort='ngModel' name="nearTrmnlPort" [(ngModel)]="commodity.NearestTrmnlPort" class="form-control" id="text">
                                          <p *ngIf="nearTrmnlPort.invalid && !nearTrmnlPort.pristine" class="help-block">Nearest Terminal Port is required.</p>
                                          <!-- <div [hidden]="remamt.valid || remamt.pristine"
                                          class="help-block">
                                            <div [hidden]="!remamt.hasError('minlength')">Field should be 5 digits</div>
                                            <div [hidden]="!remamt.hasError('required')">Field is required</div>
                                            <div [hidden]="!remamt.hasError('pattern')">Field should be only numbers</div>
                                          </div> -->
                                        </div>
                                      </div>
                                      
    
                                    </form>
    
                                  </div>  
                                </div>
                                <div class="modal-footer">
                                  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                  <button type="button" (click)="addPublicWarehouseByState()" [disabled]="addPublicWarehouseByStateForm.form.invalid" class="btn btn-primary">Add</button>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
      
                      <div class="panel-body">
                        
                        <!-- <app-add-pwby-state-list></app-add-pwby-state-list> -->
  
                      </div>
                      <app-add-pwby-state-list></app-add-pwby-state-list>
                    </div>
    
    
    
    
                  </div>
    
    
                </div>
                <!-- /.panel -->
              </div>
              <!-- /.col-md-6 -->
            </div>
            <!-- /.row -->
          </div>
    </tab>
  </tabset>
</section>
<!-- /.section -->
</div>


