<a (click)="invokeParentMethod()">
  <span>{{this.params.node.data.Name}}</span>
  <!-- <span class="glyphicon glyphicon-edit" style="margin-right:12px;margin-left:2px" aria-hidden="true"></span> -->
</a>
