<div class="main-wrapper">
	<app-top-navbar></app-top-navbar>
</div>

<div class="content-wrapper">

	<div class="container-fluid">
		<div class="row page-title-div">
			<div class="col-md-6">
				<h4 class="title">Sales & M2M Position</h4>
				<p class="sub-title"></p>
			</div>
			<!-- /.col-sm-6 -->
			<div class="col-sm-6 right-side"></div>
			<!-- /.col-sm-6 text-right -->
		</div>
		<!-- /.row -->
		<div class="row breadcrumb-div">
			<div class="col-sm-6">
				<ul class="breadcrumb">
					<li>
						<a (click)="gotoHome()" style="cursor: pointer">
							<i class="fa fa-home"></i> Dashboard</a> / Sales & M2M Position
					</li>
				</ul>
			</div>
			<!-- /.col-sm-6 -->
			<div class="col-sm-6 text-right">
				<a style="cursor: pointer">
					<i class="fa fa-comments"></i> Talk to us</a>

				<a class="pl-20" style="cursor: pointer">
					<i class="fa fa-newspaper-o"></i> Subscription</a>
			</div>
			<!-- /.col-sm-6 -->
		</div>
		<!-- /.row -->
	</div>

	<section class="section pt-10">
		<div class="container-fluid">
			<div class="row">
				<div class="col-md-12">
					<div class="panel" data-panel-control>
						<div class="panel-heading">
							<app-ngr-entity-display></app-ngr-entity-display>
						</div>



							<div class="col-md-12">
								<h4> M2M Position View </h4>
								<div class="">
									<app-sales-pos-m2m-view></app-sales-pos-m2m-view>
								</div>
							</div>


						<div class="col-md-12">
							<div class="panel-body">
								<div class="panel-title">
									<h4>Sales Position</h4>
									<span>Please select from option to display data !</span>
								</div>
							</div>
							<div class="panel-heading">
								<input type="radio" value="sgcomm" name="m2mcheckbox"
									   [(ngModel)]="options.check"> <strong> Summary Grid By
								Commodity</strong><br>
								<input type="radio" value="sgcommstrg" name="m2mcheckbox"
									   [(ngModel)]="options.check"> <strong>Summary Grid By Commodity &
								Storage Name</strong><br>
								<input type="radio" value="sgdetailview" name="m2mcheckbox"
									   [(ngModel)]="options.check"> <strong>Summary Grid Details
								View</strong><br>
								<button type="button" class="btn btn-primary"
										(click)="openDetailedView(options.check)">Detailed View
								</button>
							</div>
						</div>

						<div class="panel-body" *ngIf="option1">
							<div class="panel-heading">
								<div class="panel-title">
									<h4>Summary Grid By Commodity</h4>
								</div>
							</div>
							<app-sales-pos-by-commodity-grid></app-sales-pos-by-commodity-grid>
						</div>
						<div  class="panel-body" *ngIf="option2">
							<div class="panel-heading">
								<div class="panel-title">
									<h4>Summary Grid By Commodity & Storage Name</h4>
								</div>
							</div>
							<app-sales-pos-by-comm-and-storage-grid></app-sales-pos-by-comm-and-storage-grid>
						</div>
						<div  class="panel-body" *ngIf="option3">
							<div class="panel-heading">
								<div class="panel-title">
									<h4>Summary Grid Details View</h4>
								</div>
							</div>
							<app-sales-pos-details-view></app-sales-pos-details-view>
						</div>


					</div>
					<!-- /.panel -->
				</div>
				<!-- /.col-md-6 -->
			</div>
			<!-- /.row -->
		</div>
		<!-- /.container-fluid -->
	</section>
	<!-- /.section -->

</div>
