<div class="main-wrapper">
	<app-top-navbar></app-top-navbar>
</div>

<div class="content-wrapper">


	<div class="container-fluid">

		<div class="row page-title-div">
			<div class="col-md-6">
				<h4 class="title">Favourites</h4>
				<p class="sub-title"></p>
			</div>
			<!-- /.col-sm-6 -->
			<div class="col-sm-6 right-side"></div>
			<!-- /.col-sm-6 text-right -->
		</div>
		<!-- /.row -->
		<div class="row breadcrumb-div">
			<div class="col-sm-6">
				<ul class="breadcrumb">
					<li>
						<a (click)="gotoHome()" style="cursor: pointer">
							<i class="fa fa-home"></i> Dashboard</a> / Favourite</li>
				</ul>
			</div>
			<!-- /.col-sm-6 -->
			<div class="col-sm-6 text-right hidden-xs">
				<a style="cursor: pointer">
					<i class="fa fa-comments"></i> Talk to us</a>
				<a class="pl-20" style="cursor: pointer">
					<i class="fa fa-newspaper-o"></i> Subscription</a>
			</div>
			<!-- <div class="col-sm-3 text-right hidden-xs"> -->

			<!-- </div> -->
			<!-- /.col-sm-6 -->
		</div>
		<!-- /.row -->
	</div>
	<section class="section pt-10">
		<div class="container-fluid">
			<div class="row">
				<div class="col-md-12">
					<div class="panel border-primary no-border " data-panel-control>
						<app-ngr-entity-display></app-ngr-entity-display>

						<div class="panel-body">
							<div class="panel">
								<div class="panel-heading p-l0">
									<div class="col-md-12 p-l0">
										<!-- Button trigger modal -->
										<button type="button" class="btn btn-primary" (click)="openAddFavourites()">Add Favourites
										</button>
										<!-- Modal -->
										<div class="modal fade" id="myModal" tabindex="-1" bsModal #myModal="bs-modal" role="dialog" aria-labelledby="myModalLabel">
											<div class="modal-dialog" role="document">
												<div class="modal-content" style="height: 95vh; overflow: auto;">
													<div class="modal-header">
														<h4 *ngIf="!editFav" class="modal-title" id="myModalLabel">
															Add Favourites
															<button type="button" class="close" (click)="closeAddFavourites()" aria-label="Close">
																<span aria-hidden="true">&times;</span>
															</button>
														</h4>
														<h4 *ngIf="editFav" class="modal-title" id="myModalLabel">
															Update Favourites
															<button type="button" class="close" (click)="closeAddFavourites()" aria-label="Close">
																<span aria-hidden="true">&times;</span>
															</button>
														</h4>
													</div>
													<div class="modal-body">

														<div class="panel-body">
															<!-- <div class="alert alert-success" *ngIf="">
																<strong></strong>
															</div> -->
															<form #addFavouritesForm="ngForm" class="form-horizontal">
																<div class="form-group">
																	<label for="default" class="col-sm-3 control-label">Country
																		<span class="field-wrapper required-field"></span>
																	</label>
																	<div class="col-sm-9">
																		<input class="form-control" type="text" readonly [(ngModel)]="favourites.country" placeholder="Australia" value="Australia"
																		 name="country">
																	</div>
																</div>
																<div class="form-group">
																	<label for="default" class="col-sm-3 control-label">State
																		<span class="field-wrapper required-field"></span>
																	</label>
																	<div class="col-sm-9">
																		<select class="form-control " name="selectedState" (change)="getPortZones()" [(ngModel)]="favourites.state" id="State"
																		 title="Select State">
																			<option *ngFor="let state of states" [ngValue]="state.State_ID">{{state.State_Name}}</option>

																		</select>
																	</div>
																</div>



																<div class="form-group">
																	<label for="default" class="col-sm-3 control-label">Port Zone
																		<span class="field-wrapper required-field"></span>
																	</label>
																	<div class="col-sm-9">
																		<select class="form-control " name="selectedPortZone" (change)="getFarmingRegions()" [(ngModel)]="favourites.portzone" id="Portzone"
																		 title="Select Port Zone">
																			<option *ngFor="let portZone of portZones" [ngValue]="portZone.PortZone_ID">{{portZone.PortZone_Name}}</option>

																		</select>
																	</div>
																</div>
																<div class="form-group">
																	<label for="default" class="col-sm-3 control-label">Farming Region
																		<span class="field-wrapper required-field"></span>
																	</label>
																	<div class="col-sm-9">
																		<select class="form-control " name="selectedFamRegion" [(ngModel)]="favourites.farmingregion" id="FarmingRegion" title="Select Farming Region">
																			<option *ngFor="let famRegion of farmingRegions" [ngValue]="famRegion.FarmingRegion_ID">{{famRegion.FarmingRegion_Name}}</option>

																		</select>
																	</div>
																</div>
																<div class="form-group">
																	<label for="default" class="col-sm-3 control-label">Storage Type
																		<span class="field-wrapper required-field"></span>
																	</label>
																	<div class="col-sm-9">
																		
																		<select class="form-control " name="selectedstorage" (change)="callSelectedWHType()" [(ngModel)]="favourites.storagetype" id="wt" title="Select Storage Type">
																			<option *ngFor="let type of WarehouseTypes"
																			[ngValue]="type.T_NM">{{type.T_NAME}}</option>

																		</select>
																	</div>
																</div>
																<div class="form-group" *ngIf="favourites.storagetype!='DeliveredDestination'">
																	<label for="default" class="col-sm-3 control-label">Site
																		<span class="field-wrapper required-field"></span>
																	</label>
																	<div class="col-sm-9">
																		<select class="form-control " name="selectedsite" [(ngModel)]="favourites.site" id="site12" title="Select Site">
																			<option *ngFor="let site of siteList" [ngValue]="site.Site_ID">{{site.Site_Name}}</option>

																		</select>
																	</div>
																</div>
																<div class="form-group" *ngIf="favourites.storagetype=='DeliveredDestination'">
																	<label for="default" class="col-sm-3 control-label">Market Zone
																		<span class="field-wrapper required-field"></span>
																	</label>
																	<div class="col-sm-9">
																		<select class="form-control" (change)="setDD()" name="selectedmz" [(ngModel)]="favourites.MZ" id="mz" title="Select Commodity">
																			<option *ngFor="let mz of siteList, let i=index;" [ngValue]="mz.Market_Zone[0].MZ_Name">{{mz.Market_Zone[0].MZ_Name}}</option>

																		</select>
																	</div>
																</div>
																<div class="form-group" *ngIf="favourites.storagetype=='DeliveredDestination' && favourites.MZ">
																	<label for="default" class="col-sm-3 control-label">Delivered Destinations
																		<span class="field-wrapper required-field"></span>
																	</label>
																	<div class="col-sm-9">
																		<select class="form-control " name="selecteddd" [(ngModel)]="favourites.DDS" id="dd" title="Select Commodity">
																			<option *ngFor="let dd of deliveredDestinations" [ngValue]="dd.DD_ID">{{dd.DD_Name}}</option>

																		</select>
																	</div>
																</div>
																<div class="form-group">
																	<label for="default" class="col-sm-3 control-label">Commodity
																		<span class="field-wrapper required-field"></span>
																	</label>
																	<div class="col-sm-9">
																		<select class="form-control " name="selectedCommodity" (change)="callGrades()" [(ngModel)]="favourites.commodity" id="Commodity"
																		 title="Select Commodity">
																			<option *ngFor="let commodity of commodities" [ngValue]="commodity.C_ID">{{commodity.C_NAME}}</option>

																		</select>
																	</div>
																</div>
																<div class="form-group">
																	<label for="default" class="col-sm-3 control-label">Grade
																		<!-- <span class="field-wrapper required-field"></span> -->
																	</label>
																	<div class="col-sm-9">
																		<select class="form-control" name="grade1" [(ngModel)]="favourites.grade" id="Grade" title="Select Grade">
																			<option *ngFor="let grade of grades" [ngValue]="grade.CG_ID">{{grade.CG_NAME}}</option>

																		</select>
																	</div>
																</div>
																<div class="form-group">
																	<label for="default" class="col-sm-3 control-label">Crop Year
																		<span class="field-wrapper required-field"></span>
																	</label>
																	<div class="col-sm-9">

																		<select class="form-control" name="cropyear" title="Select Crop Year" [(ngModel)]="favourites.crop" id="cropyr">
																			<option *ngFor="let crpyr of cropYearList" [ngValue]="crpyr.Crop_year">{{crpyr.Crop_year}}</option>
																		</select>
																	</div>
																</div>

																<div class="form-group">
																	<label for="autocomplete" class="col-sm-3 control-label">Target ROI (%)</label>
																	<div class="col-sm-9" [ngClass]="{'has-error':roi.invalid && !roi.pristine}">
																		<input required type="text" #roi='ngModel' name="roi" [(ngModel)]="favourites.targetroi" max="100" min="0" class="form-control"
																		 id="autocomplete" placeholder="Target ROI (%) " autocomplete="off">
																		<p *ngIf="roi.invalid && !roi.pristine" class="help-block">Target ROI is required.</p>

																	</div>
																</div>
																<div class="form-group">
																	<label for="autocomplete" class="col-sm-3 control-label">Alert $</label>
																	<div class="col-sm-9" [ngClass]="{'has-error':alert.invalid && !alert.pristine}">
																		<input required type="text" #alert='ngModel' name="alert" [(ngModel)]="favourites.alert" max="100" min="0" class="form-control"
																		 id="autocomplete" placeholder="Alert $" autocomplete="off">
																		<p *ngIf="alert.invalid && !alert.pristine" class="help-block">Alert $ is required.</p>

																	</div>
																</div>
																<div class="row">
																  <div class="col-md-9 col-md-offset-3">
																	<div class="col-md-4 p-l0">
																		<div class="form-group">
																			<div class="col-sm-2">
																				<div class="checkbox ">
																					<label>
																						<input type="checkbox" name="emailnotifyname" [(ngModel)]="favourites.emailnotify" style="cursor: pointer">
																					</label>
																				</div>
																			</div>
																			<span>
																				<label for="default" style="margin-top: 5px;" class=" t-al">Alert-Email
																				</label>
																			</span>
																		</div>
																	</div>
																	<div class="col-md-4">
																		<div class="form-group">
																			<div class="col-sm-2">
																				<div class="checkbox">
																					<label>
																						<input type="checkbox" name="sms" [(ngModel)]="favourites.smsnotify" style="cursor: pointer">
																					</label>
																				</div>
																			</div>
																			<span>
																				<!-- Alert-SMS</span> -->
																				<label for="default" style="margin-top: 5px;" class=" t-al">Alert-SMS
																				</label>
																			</span>
																		</div>
																	</div>
																  </div>		
																</div>
															</form>
														</div>

													</div>
													<!-- [disabled]="addFavouritesForm.form.invalid" -->
													<div class="modal-footer">
														<button type="button" class="btn btn-default" (click)="closeAddFavourites()">Cancel</button>
														<button type="button" (click)="addFavourites()" [disabled]="addEnable" *ngIf="!editFav" class="btn btn-primary">Add</button>
														<button type="button" (click)="addFavourites()" [disabled]="updateEnable" *ngIf="editFav" class="btn btn-primary">Update</button>
													</div>
												</div>
											</div>
										</div>


                                        <!--Del Model-->
										
										<div class="modal fade" id="delModal" tabindex="-1" bsModal #delModal="bs-modal" role="dialog" aria-labelledby="myModalLabel">
											<div class="modal-dialog" role="document">
												<div class="modal-content" style="overflow: auto;">
													<div class="modal-header">
														<h4 class="modal-title" id="myModalLabel">
															Are you sure you want to delete it?
														</h4>
													</div>
													<div class="modal-footer">
														<button type="button" class="btn btn-default" (click)="closeDeleteDialog($event)">No</button>
														<button type="button" class="btn btn-default" (click)="deleteFavourites()">Yes</button>
                                                    </div>
												</div>
											</div>
										</div>

										<!---->

									</div>
								</div>
								<div class="panel-body">
									<!-- <div id="prod-chart" [style.width.%]="100" [style.height.px]="500"></div> -->
									<!-- <app-addedcommoditylist></app-addedcommoditylist> -->
									<!-- <app-added-contact-list></app-added-contact-list> -->
								</div>
								<app-favourites-grid (openDeleteDialog)="openDeleteDialog($event)" (openEditDialog)="reUseAddFav($event)"></app-favourites-grid>
							</div>
							<!-- <app-added-contact-list></app-added-contact-list> -->
						</div>
					</div>
				</div>
			</div>
		</div>


	</section>
</div>