<div class="main-wrapper">
	<app-top-navbar></app-top-navbar>
</div>

<div class="content-wrapper">


	<div class="container-fluid">

		<div class="row page-title-div">
			<div class="col-md-6">
				<h4 class="title">Breakeven Calculation</h4>
				<p class="sub-title">Calculate Forecast</p>
			</div>
			<!-- /.col-sm-6 -->
			<div class="col-sm-6 right-side"></div>
			<!-- /.col-sm-6 text-right -->
		</div>
		<!-- /.row -->
		<div class="row breadcrumb-div">
			<div class="col-sm-6">
				<ul class="breadcrumb">
					<li><a (click)="gotoHome()" style="cursor: pointer"><i
							class="fa fa-home"></i> Dashboard</a> / Breakeven Calculation</li>
				</ul>
			</div>
			<!-- /.col-sm-6 -->
			<div class="col-sm-6 text-right">
				<a  style="cursor: pointer"><i class="fa fa-comments"></i> Talk to us</a>
			
				<a  class="pl-20" style="cursor: pointer"><i class="fa fa-newspaper-o"></i> Subscription</a>
			</div>
			<!-- /.col-sm-6 -->
		</div>
		<!-- /.row -->
	</div>


	<section class="section pt-10">
		<div class="container-fluid">
			<div class="row">
				<div class="col-md-12">
					<div class="panel"
						data-panel-control>
						<div class="panel-heading">
							<div class="panel-title text-center">
								<h4>Breakeven Calculation</h4>
							</div>
						</div>

						<div class="panel-body">
							<div class="panel">
								<div class="panel-heading p-l0">
									<div class="col-md-12 p-l0">
										<!-- Button trigger modal -->
										<button type="button" class="btn btn-primary"
										(click)="openBrkEvnModal()">Add
											Breakeven Calculation</button>

										<!-- Modal -->
										<div class="modal fade" id="myModal" tabindex="-1"
										bsModal	#myModal="bs-modal" 
											role="dialog" aria-labelledby="myModalLabel">
											<div class="modal-dialog" role="document">
												<div class="modal-content"
													style="height: 95vh; overflow: auto;">
													<div class="modal-header">
														<h4 class="modal-title" id="myModalLabel">
															Add Breakeven Calculation
															<button type="button" class="close" (click)="closeBrkEvnModal()"
																aria-label="Close">
																<span aria-hidden="true">&times;</span>
															</button>
														</h4>
													</div>
													<div class="modal-body">

														<div class="panel-body">
															<div class="alert alert-success" *ngIf="submitBrkevenForcast">
																<strong>{{submitBrkevenForcast}}</strong>
															</div>
															<form #addBrkevenfrcstForm="ngForm" class="form-horizontal">

																<div class="form-group">
																	<label for="default" class="col-sm-3 control-label">Commodity<span
																		class="field-wrapper required-field"></span></label>
																	<div class="col-sm-9">
																		<select class="form-control " name="selectedCommodity"
																			(change)="callGrades()" 
																			[(ngModel)]="commodity.SCC_C_ID" id="Commodity"
																			title="Select Commodity">
																			<option *ngFor="let commodity of commodities"
																				[ngValue]="commodity.C_ID">{{commodity.C_NAME}}</option>

																		</select>
																	</div>
																</div>
																<div class="form-group">
																	<label for="default" class="col-sm-3 control-label">Grade
																		<!-- <span class="field-wrapper required-field"></span> -->
																	</label>
																	<div class="col-sm-9">
																		<select class="form-control" name="grade1"
																			[(ngModel)]="commodity.SCC_GRD_ID" id="Grade"
																			title="Select Grade">
																			<option *ngFor="let grade of grades"
																				[ngValue]="grade.CG_ID">{{grade.CG_NAME}}</option>

																		</select>
																	</div>
																</div>
																<div class="form-group">
																	<label for="default" class="col-sm-3 control-label">Crop
																		Year<span class="field-wrapper required-field"></span>
																	</label>
																	<div class="col-sm-9">

																		<select class="form-control" name="cropyear" title="Select Crop Year"
																			[(ngModel)]="commodity.SCC_CROP_YR" id="cropyr" 
																			>
																			<option *ngFor="let crpyr of cropYearList"
                                                                                    [ngValue]="crpyr.Crop_year">{{crpyr.Crop_year}}</option>
																		</select>
																	</div>
																</div>
																<div class="form-group" >
																	<label for="default" class="col-sm-3 control-label">Area
																		(ha.)</label>
																	<div class="col-sm-9" [ngClass]="{'has-error':sccarea.invalid && !sccarea.pristine}">
																		<input required type="number" #sccarea='ngModel' name="sccarea"
																			[(ngModel)]="commodity.SCC_AREA_H" 
																			class="form-control" id="default" placeholder="Area (ha)">
																			<p *ngIf="sccarea.invalid && !sccarea.pristine" class="help-block">Area is required.</p>
																			<!-- <div [hidden]="sccarea.valid || sccarea.pristine"
																			class="help-block">
																				<div [hidden]="!sccarea.hasError('minlength')">Field should be 5 digits</div>
																				<div [hidden]="sccarea.hasError('required')">Field is required</div>
																				<div [hidden]="!sccarea.hasError('pattern')">Field should be only numbers</div>
																			</div> -->
																	</div>
																</div>
																<div class="form-group" >
																	<label for="default" class="col-sm-3 control-label">Area
																		(acre)</label>
																	<div class="col-sm-9">
																		<input required type="number" 
																			 readonly value={{commodity.SCC_AREA_H*2.47105}}
																			class="form-control" id="default" placeholder="Area (acre)">
																			
																	</div>
																</div>
																<div class="form-group" >
																	<label for="default" class="col-sm-3 control-label">Yield/ha.</label>
																	<div class="col-sm-9" [ngClass]="{'has-error':yield.invalid && !yield.pristine}">
																		<input required type="number" #yield='ngModel' name="yield"
																			[(ngModel)]="commodity.SCC_YIELD_PER_H"
																			
																			class="form-control" id="default" placeholder="Yield/ha">
																			<p *ngIf="yield.invalid && !yield.pristine" class="help-block">Yield/ha is required.</p>
																			<!-- <div [hidden]="yield.valid || yield.pristine"
																			class="help-block">
																				<div [hidden]="!yield.hasError('minlength')">Field should be 5 digits</div>
																				<div [hidden]="!yield.hasError('required')">Field is required</div>
																				<div [hidden]="!yield.hasError('pattern')">Field should be only numbers</div>
																			</div> -->
																	</div>
																</div>
																<div class="form-group" >
																	<label for="text" class="col-sm-3 control-label"
																		tooltip="Removed Amount (your sharefarmer %)"
																		placement="top">Sharefarmer %</label>
																	<div class="col-sm-9" [ngClass]="{'has-error':remamt.invalid && !remamt.pristine}">
																		<input required type="number" #remamt='ngModel' name="remamt"
																			[(ngModel)]="commodity.SCC_SHARE_FARMER" max="100" min="0"
																			placeholder="Sharefarmer %"
																			class="form-control" id="text">
																			<p *ngIf="remamt.invalid && !remamt.pristine" class="help-block">Removed Amount (your sharefarmer %) is required.</p>
																			<!-- <div [hidden]="remamt.valid || remamt.pristine"
																			class="help-block">
																				<div [hidden]="!remamt.hasError('minlength')">Field should be 5 digits</div>
																				<div [hidden]="!remamt.hasError('required')">Field is required</div>
																				<div [hidden]="!remamt.hasError('pattern')">Field should be only numbers</div>
																			</div> -->
																	</div>
																</div>
																<div class="form-group" >
																	<label for="text" class="col-sm-3 control-label" 
																	tooltip="Storage Available-onfarm(tonnes)"
																		placement="top">Storage..
																		</label>
																	<div class="col-sm-9" [ngClass]="{'has-error':avlstr.invalid && !avlstr.pristine}">
																		<input required type="number" #avlstr='ngModel' name="avlstr"
																			[(ngModel)]="commodity.SCC_AVL_STRG_PER"
																			class="form-control" id="text"
																			placeholder="Storage Available - on farm (mt)">
																			<p *ngIf="avlstr.invalid && !avlstr.pristine" class="help-block">Stock on farm is required.</p>
																			<!-- <div [hidden]="avlstr.valid || avlstr.pristine"
																			class="help-block">
																				<div [hidden]="!avlstr.hasError('minlength')">Field should be 5 digits</div>
																				<div [hidden]="!avlstr.hasError('required')">Field is required</div>
																				<div [hidden]="!avlstr.hasError('pattern')">Field should be only numbers</div>
																			</div> -->
																	</div>
																</div>
																<div class="form-group">
																	<label for="text" class="col-sm-3 control-label">Stock
																		in market</label>
																	<div class="col-sm-9" [ngClass]="{'has-error':oldcrop.invalid && !oldcrop.pristine}">
																		<input required type="number" #oldcrop='ngModel' name="oldcrop"
																			[(ngModel)]="commodity.SCC_OLD_CRP_LFT"
																			class="form-control" id="text"
																			placeholder="Old crop left to market (tonnes/bales)">
																			<p *ngIf="oldcrop.invalid && !oldcrop.pristine" class="help-block">Stock in market is required.</p>
																			<!-- <div [hidden]="oldcrop.valid || oldcrop.pristine"
																			class="help-block">
																				<div [hidden]="!oldcrop.hasError('minlength')">Field should be 5 digits</div>
																				<div [hidden]="!oldcrop.hasError('required')">Field is required</div>
																				<div [hidden]="!oldcrop.hasError('pattern')">Field should be only numbers</div>
																			</div> -->
																	</div>
																</div>
																<div class="form-group" >
																	<label for="default" class="col-sm-3 control-label">Labour
																		charge</label>
																	<div class="col-sm-9" [ngClass]="{'has-error':scclbr.invalid && !scclbr.pristine}">
																		<input required type="number" #scclbr='ngModel' name="scclbr"
																			[(ngModel)]="commodity.SCC_LBR" class="form-control"
																			id="default" placeholder="Hired Labour incl wages">
																			<p *ngIf="scclbr.invalid && !scclbr.pristine" class="help-block">Labour charge is required.</p>
																			<!-- <div [hidden]="scclbr.valid || scclbr.pristine"
																			class="help-block">
																				<div [hidden]="!scclbr.hasError('minlength')">Field should be 5 digits</div>
																				<div [hidden]="!scclbr.hasError('required')">Field is required</div>
																				<div [hidden]="!scclbr.hasError('pattern')">Field should be only numbers</div>
																			</div> -->
																	</div>
																</div>
																<div class="form-group" >
																	<label for="autocomplete"
																		class="col-sm-3 control-label">Target ROI</label>
																	<div class="col-sm-9" [ngClass]="{'has-error':roi.invalid && !roi.pristine}">
																		<input required type="text" #roi='ngModel' name="roi"
																			[(ngModel)]="commodity.SCC_ROI" max="100" min="0"
																			class="form-control" id="autocomplete" placeholder="Target ROI"
																			autocomplete="off">
																			<p *ngIf="roi.invalid && !roi.pristine" class="help-block">Target ROI is required.</p>
																			
																	</div>
																</div>
																<div class="form-group">
																	<label for="default" class="col-sm-3 control-label" 
																		tooltip="Repairs & Maintenance"
																		placement="top">Repairs..	
																	</label>
																	<div class="col-sm-7" [ngClass]="{'has-error':sccmaint.invalid && !sccmaint.pristine}">
																		<input required type="number" #sccmaint='ngModel' name="sccmaint"
																			[(ngModel)]="commodity.SCC_REP_MAINT"
																			class="form-control" id="default" placeholder="Repairs & Maintenance">
																			<p *ngIf="sccmaint.invalid && !sccmaint.pristine" class="help-block">Repairs null is required.</p>
																			<!-- <div [hidden]="yield.valid || yield.pristine"
																			class="help-block">
																				<div [hidden]="!sccmaint.hasError('minlength')">Field should be 5 digits</div>
																				<div [hidden]="!sccmaint.hasError('required')">Field is required</div>
																				<div [hidden]="!sccmaint.hasError('pattern')">Field should be only numbers</div>
																			</div> -->
																	</div>
																	<div class="col-sm-1">
																		<button class="btn btn-success" (click)="createNewCustomFields()"><i class="glyphicon glyphicon-plus"></i></button>
																	</div>
																</div>
																<div class="form-group" *ngFor="let cstmFld of customFieldArray  let i = index">                                                                
																	
																	<div class="col-sm-5" [ngClass]="{'has-error':label.invalid && !label.pristine}">
																		<label for="default" class="">Label</label>
																
																		   
																			<input type="text" name="customLabel{{i}}" [(ngModel)]="cstmFld.label" #label = ngModel
																			class="form-control" placeholder="Label" required /> 
																		
																			<!-- <div [hidden]="quantity.invalid || !quantity.pristine" -->
																			<!-- class="help-block"> -->
																				<!-- <div [hidden]="!unitprice.hasError('minlength')">Field should be 5 digits</div> -->
																			<p *ngIf="label.invalid && !label.pristine" class="help-block">Label is required.</p>
																				<!-- <div [hidden]="!quantity.hasError('required')">Field is required</div> -->
																				<!-- <div [hidden]="!unitprice.hasError('pattern')">Field should be only numbers</div> -->
																		</div>                                                                                                                       
																<!-- </div> -->
																<!-- <div class="form-group" > -->
																	
																	<div class="col-sm-5 " [ngClass]="{'has-error':value.invalid && !value.pristine}">
																			<label for="default" class="">Value</label>
																	<!-- <div class="col-sm-2" [ngClass]="{'has-error':quality.qualityValue.invalid && !quality.qualityValue.pristine}"> -->
																																		   
																		<input type="text" name="customVal{{i}}" [(ngModel)]="cstmFld.value" #value = ngModel
																		class="form-control" placeholder="Value" required /> 
																		
																		<p *ngIf="value.invalid && !value.pristine" class="help-block">Value is required.</p>
																			
																		<!-- <div [hidden]="quantity.invalid || !quantity.pristine" -->
																			<!-- class="help-block"> -->
																				<!-- <div [hidden]="!unitprice.hasError('minlength')">Field should be 5 digits</div> -->
																			
																				<!-- <div [hidden]="!quantity.hasError('required')">Field is required</div> -->
																				<!-- <div [hidden]="!unitprice.hasError('pattern')">Field should be only numbers</div> -->
																		
																	</div>
																	<div class="col-sm-1 m-t25">
																		<button class="btn btn-success" (click)="removeNewCustomFields(cstmFld, i)"><i class="glyphicon glyphicon-minus"></i></button>
																	</div>
																	
																
																</div>
																
															</form>

														</div>


													</div>
													<div class="modal-footer">
														<button type="button" class="btn btn-default"
														(click)="closeBrkEvnModal()">Close</button>
														<button type="button" (click)="addBrakevenForcast()" [disabled]="addBrkevenfrcstForm.form.invalid"
															class="btn btn-primary">Add</button>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="panel-body">
									<!-- <div id="prod-chart" [style.width.%]="100" [style.height.px]="500"></div> -->
									<!-- <app-addedcommoditylist></app-addedcommoditylist> -->
								</div>
								<app-break-even-forcast-grid></app-break-even-forcast-grid>
							</div>
						</div>
					</div>
					<!-- /.panel -->
				</div>
				<!-- /.col-md-6 -->
			</div>
			<!-- /.row -->
		</div>
		<!-- /.container-fluid -->
	</section>
	<!-- /.section -->

</div>