/*
    Common 
*/

.test-icon-size {
    font-size: 15px;
  }

.pulldownsidebar{
margin-top:95px;
margin-left:-100px;
}
.pull-right{
float:right;
margin-right:5px;
}
option{
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: .25rem;

}
.attachborder{
border-style: solid;
    border-width: 0px;
    border-color: chartreuse;
    margin-bottom: 10%;
    }
    .pull-right{	
    margin-bottom:100px;	
	    }			
	    .field-wrapper {		
	      float: left;		
     }		
	    .required-field::before { 		
	       content: "*";		
	       float: left;		
	      color: red;		
	       }	
           .m-t25{
            margin-top: 25px;
        }
        .map {
            width: 100%;
            height: 50vh;
          }

          .ui-select-match-text{
            width: 100%;
            // overflow: hidden;
            // text-overflow: ellipsis;
            padding-right: 5px;
          }