<div class="container-fluid content-wrapper">
	<app-top-navbar></app-top-navbar>
	<div class="row page-title-div">
		<div class="col-md-6">
			<h4 class="title">
				{{currentUser.USER.U_FNAME}} {{currentUser.USER.U_LNAME}} <small
					class="ml-10">My Profile</small>
			</h4>
		</div>
		<!-- /.col-md-6 -->
	</div>
	<!-- /.row -->
	<div class="row breadcrumb-div">
		<div class="col-md-6">
			<ul class="breadcrumb">
				<li><a (click)="gotoHome()" style="cursor: pointer"> <i
						class="fa fa-home"></i> Dashboard
				</a></li>
				<li class="active">My Profile</li>
			</ul>
		</div>
		<!-- /.col-md-6 -->
		<div class="col-md-6 text-right">
			<a style="cursor: pointer"> <i class="fa fa-comments"></i> Talk
				to us
			</a>
		</div>
		<!-- /.col-md-6 -->
	</div>
	<!-- /.row -->

	<div class="row mt-30 setbg">
		<div class="col-md-3">
			<div class="panel border-primary no-border border-3-top">
				<div class="panel-heading">
					<div class="panel-title">
						<h5>Profile Picture</h5>
					</div>
				</div>
				<div class="panel-body">
					<div class="row">
						<div class="col-md-8 col-md-offset-2">
							<img src="assets/images/avatar-1.svg" alt="User Avatar"
								class="img-responsive">
							<div class="text-center">
								<button type="button"
									class="btn btn-primary btn-xs btn-labeled mt-10">
									Edit Picture <span class="btn-label btn-label-right"> <i
										class="fa fa-pencil"></i>
									</span>
								</button>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- /.panel -->

			<!-- Below Code is comment as per the Defect #198 -->
			<!-- <div class="panel border-primary no-border border-3-top">
				<div class="panel-heading">
					<div class="panel-title">
						<h5>User Stats</h5>
					</div>
				</div>
				<div class="panel-body">
					<div class="row">
						<table class="table table-striped">
							<tbody>
								<tr>
									<th>Meetings</th>
									<td>100 <br> <small class="color-success"> <i
											class="fa fa-arrow-up"></i> 4% increase
									</small>
									</td>
								</tr>
								<tr>
									<th>Bids</th>
									<td>511 <br> <small class="color-danger"> <i
											class="fa fa-arrow-down"></i> 15% decrease
									</small>
									</td>
								</tr>
								<tr>
									<th>Last Login</th>
									<td>12-Mar-2017 <br> <small class="color-warning">40
											days ago</small>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div> -->
			<!-- /.panel -->

			<!-- <div class="panel border-primary no-border border-3-top">
				<div class="panel-heading">
					<div class="panel-title">
						<h5>User Tags</h5>
					</div>
				</div>
				<div class="panel-body p-20">
					<span class="label label-success label-rounded label-bordered">Premium</span>
					<span class="label label-danger label-rounded label-bordered">Inactive</span>
					<span class="label label-warning label-rounded label-bordered">Sleeping</span>
				</div>
			</div> -->
			<!-- /.panel -->
		</div>
		<!-- /.col-md-3 -->

		<div class="col-md-9">
			<!-- <div class="row mb-30">
				<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
					<a class="dashboard-stat-2 bg-primary" style="cursor: pointer">
						<div class="stat-content">
							<span class="number counter">1,411</span> <span class="name">Sold
								Commodities</span>
						</div> <span class="stat-footer"> <i
							class="fa fa-arrow-up color-success"></i> 5% growth in 3 hours
					</span>
					</a>
				</div>
			<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
					<a class="dashboard-stat-2 bg-danger" style="cursor: pointer">
						<div class="stat-content">
							<span class="number counter">322</span> <span class="name">Client
								Made</span>
						</div> <span class="stat-footer"> <i
							class="fa fa-arrow-down color-success"></i> 3% decrease in 3
							Months
					</span>
					</a>
				</div>
				<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
					<a class="dashboard-stat-2 bg-warning" style="cursor: pointer">
						<div class="stat-content">
							<span class="number counter">5,551,333</span> <span class="name">Revenue</span>
						</div> <span class="stat-footer"> <i
							class="fa fa-arrow-up color-success"></i> 7% increase in 3
							quarters
					</span>
					</a>
				</div>
				<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
					<a class="dashboard-stat-2 bg-success" style="cursor: pointer">
						<div class="stat-content">
							<span class="number counter">16,710</span> <span class="name">Bank
								Credits</span>
						</div> <span class="stat-footer"> <i
							class="fa fa-arrow-down color-danger"></i> 2% decrese in 3 hours
					</span>
					</a>
				</div>
			</div> -->
	
			<!-- /.row -->

			<div class="panel">
				<div class="panel-heading">
					<div class="panel-title">
						<h5>User Details</h5>
					</div>
				</div>
				<div class="panel-body">
					<tabset [justified]="true"> <tab heading="Home">
					<div class="p-15">
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit,
							sed do eiusmod tempor incididunt ut labore et dolore magna
							aliqua. Ut enim ad minim veniam, quis nostrud exercitation
							ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis
							aute irure dolor in reprehenderit in voluptate velit esse cillum
							dolore eu fugiat nulla pariatur. Excepteur sint occaecat
							cupidatat non proident, sunt in culpa qui officia deserunt mollit
							anim id est laborum.</p>
					</div>
					<carousel> <slide> <img
						src="assets/images/img-1.png" alt="First Slide"
						class="img-responsive"> </slide> <slide> <img
						src="assets/images/img-2.jpg" alt="Second Slide"
						class="img-responsive"> </slide> <slide> <img
						src="assets/images/img-1.jpg" alt="Third Slide"
						class="img-responsive"> </slide> </carousel> </tab> <tab heading="Profile">
					<div class="p-15">
						<p>Excepteur sint occaecat cupidatat non proident, sunt in
							culpa qui officia deserunt mollit anim id est laborum. Lorem
							ipsum dolor sit amet, consectetur adipisicing elit, sed do
							eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
							enim ad minim veniam, quis nostrud exercitation ullamco laboris
							nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
							reprehenderit in voluptate velit esse cillum dolore eu fugiat
							nulla pariatur.</p>
						<blockquote class="blockquote-reverse mt-20">
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
								Integer posuere erat a ante.</p>
							<footer>
								Someone famous in <cite title="Source Title">Source Title</cite>
							</footer>
						</blockquote>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit,
							sed do eiusmod tempor incididunt ut labore et dolore magna
							aliqua. Ut enim ad minim veniam, quis nostrud exercitation
							ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis
							aute irure dolor in reprehenderit in voluptate velit esse cillum
							dolore eu fugiat nulla pariatur. Excepteur sint occaecat
							cupidatat non proident, sunt in culpa qui officia deserunt mollit
							anim id est laborum.</p>
					</div>
					</tab> <tab heading="Messages">
					<div class="p-15">
						<p>Duis aute irure dolor in reprehenderit in voluptate velit
							esse cillum dolore eu fugiat nulla pariatur. Lorem ipsum dolor
							sit amet, consectetur adipisicing elit, sed do eiusmod tempor
							incididunt ut labore et dolore magna aliqua. Ut enim ad minim
							veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
							ex ea commodo consequat.Excepteur sint occaecat cupidatat non
							proident, sunt in culpa qui officia deserunt mollit anim id est
							laborum.</p>
					</div>
					<div class="section-title">
						<h4 class="title underline">Headings</h4>
						<p class="sub-title">
							All HTML headings,
							<code class=" language-html">
								<span class="token tag"><span class="token tag"><span
										class="token punctuation">&lt;</span>h1</span><span
									class="token punctuation">&gt;</span></span>
							</code>
							through
							<code class=" language-html">
								<span class="token tag"><span class="token tag"><span
										class="token punctuation">&lt;</span>h6</span><span
									class="token punctuation">&gt;</span></span>
							</code>
							, are available.
							<code class=" language-html">.h1</code>
							through
							<code class=" language-html">.h6</code>
							classes are also available, for when you want to match the font
							styling of a heading but still want your text to be displayed
							inline.
						</p>
					</div>
					<!-- /.section-title --> </tab> <tab heading="Reset Password"> <!-- /.section-title -->

					<div class="row mt-30">
						<div class="col-md-6">
							<h5 class="underline">Privacy and Security</h5>
							<accordion [closeOthers]="'true'"> <accordion-group
								[isOpen]="true" #group [panelClass]="'bg-primary mb-5'">
							<div accordion-heading>
								Reset Password <i class="pull-right float-xs-right glyphicon"
									[ngClass]="{'glyphicon-chevron-down': group?.isOpen, 'glyphicon-chevron-right': !group?.isOpen}"></i>
							</div>
							<div class="panel-body bg-white">
								<!-- <form>
                        <div class="form-group">
                        		<label for="exampleInputPassword1">Old Password</label>
                        		<input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
                        	</div>
                        	<div class="form-group">
                        		<label for="exampleInputPassword1">New Password</label>
                        		<input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
                        	</div>
                        	<div class="form-group">
                        		<label for="exampleInputPassword1">Confirm Password</label>
                        		<input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
                        	</div>
                        	<button type="submit" class="btn btn-primary">Submit</button>
                        </form>
 -->

								<form #resetform="ngForm" novalidate>
									<div class="alert alert-info" *ngIf="outcomeMsg">
										<strong>{{showOutcome}}</strong>
									</div>
									<div class="form-group"
										[ngClass]="{'has-error':username.invalid && !username.pristine}">
										<label for="exampleInputEmail1">Username(Should be
											email address)</label> <input type="email"
											class="form-control input-lg" email #username="ngModel"
											[(ngModel)]="USER.UserName" name="email"
											placeholder="Enter Username" required autocomplete="off">
										<p *ngIf="username.invalid && !username.pristine"
											class="help-block">Username is required and must be
											valid.</p>
									</div>
									<div class="form-group"
										[ngClass]="{'has-error':oldpswrd.invalid && !oldpswrd.pristine}">
										<label for="exampleInputEmail1">Old Password</label> <input
											type="password" #oldpswrd="ngModel"
											class="form-control input-lg" required
											[(ngModel)]="USER.OldPassword" name="oldpswrd1"
											placeholder="Enter Password" autocomplete="off">
										<p *ngIf="oldpswrd.invalid && !oldpswrd.pristine"
											class="help-block">Old password is required.</p>

									</div>
									<div class="form-group"
										[ngClass]="{'has-error':newpswrd.invalid && !newpswrd.pristine}">
										<label for="exampleInputEmail1">New Password</label> <input
											type="password" #newpswrd="ngModel"
											class="form-control input-lg" required
											[(ngModel)]="USER.NewPassword" name="newpswrd1"
											placeholder="Re-enter Password" autocomplete="off">
										<p *ngIf="newpswrd.invalid && !newpswrd.pristine"
											class="help-block">New password is required.</p>
									</div>
									<div class="clearfix"></div>
									<div class="form-group mt-20">
										<div class="">

											<!--  <a ui-sref="signup" class="form-link"><small class="muted-text">Register?</small></a> -->
											<button type="button" (click)="showMsg()"
												[disabled]="resetform.form.invalid"
												class="btn btn-success btn-labeled pull-left">
												Submit <span class="btn-label btn-label-right"> <i
													class="fa fa-check"></i>
												</span>
											</button>
											<div class="clearfix"></div>
										</div>
									</div>
								</form>




							</div>
							</accordion-group> </accordion>
						</div>

					</div>
					</tab> <tab heading="Subscription">
					<div *ngIf="notifyMsg" class="alert alert-info">{{notifyMsg}}</div>

					<div class="section-title">
						<h4 class="title"></h4>
						<div class="form-group col-md-5">
							<div class="col-sm-2">
								<div class="checkbox">
									<label class="control-label"> <input type="checkbox"
										name="emailnotifyname" [(ngModel)]="emailNotify"
										(change)="setNoitifcation($event,emailNotify,'email')">
									</label>
								</div>
							</div>

							<label for="autocomplete" class="col-sm-9 m-b ">EMAIL </label>

						</div>
					</div>
					<div class="section-title">
						<h4 class="title"></h4>
						<div class="form-group col-md-5">
							<div class="col-sm-2 ">
								<div class="checkbox ">
									<label class="control-label"> <input type="checkbox"
										[(ngModel)]="smsNotify" name="sms"
										(change)="setNoitifcation($event,smsNotify,'sms')">
									</label>
								</div>
							</div>
							<label for="autocomplete" class="col-sm-9 m-b">SMS</label>

						</div>
					</div>
					<!-- /.section-title --> </tab> </tabset>

				</div>
			</div>

		</div>
		<!-- /.col-md-9 -->
	</div>
	<!-- /.row -->
</div>
<!-- /.container-fluid -->