<div class="container-fluid">
	<div class="row page-title-div">
		<div class="col-sm-6">
			<h2 class="title">Dashboard</h2>
			<p class="sub-title">Welcome ! One stop solution for farmers!</p>
		</div>
		<!-- /.col-sm-6 -->
		<!-- <div class="col-sm-6 right-side">
            <div class="dropdown pull-right" dropdown>
            	<button dropdownToggle class="btn btn-default dropdown-toggle" type="button" id="menu14" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            		<i class="fa fa-bars"></i> Dropdown
            		<span class="caret"></span>
            	</button>
            	<ul *dropdownMenu class="dropdown-menu bg-gray" aria-labelledby="menu14">
                    <li><a class="pointerclass">Action  <span class="label label-danger icon-right">Hot</span></a></li>
            		<li><a class="pointerclass">Some Link</a></li>
            		<li><a class="pointerclass">More here  <span class="label label-primary icon-right">New</span></a></li>
                    <li><a class="pointerclass">Something more here </a></li>
            	</ul>
            </div>
        </div>
         -->
		<!-- /.col-sm-6 text-right -->
	</div>
	<!-- /.row -->
	<div class="row breadcrumb-div">
		<div class="col-sm-6">
			<ul class="breadcrumb">
				<li><a><i class="fa fa-home pointerclass"></i> Home</a></li>
				<li class="active pointerclass">Dashboard</li>
			</ul>
		</div>
		<!-- /.col-sm-6 -->

		<div class="col-sm-6 text-right hidden-xs">
			<a class="pointerclass"><i class="fa fa-comments"></i> Contact us</a>
			<select class="selectpicker" data-style="btn-primary" [(ngModel)]="theme" (change)="changeTheme()" title="Change Theme">
				<option >Light</option>
				<option >Dark</option>
				<option >Clear</option>
			</select>

		</div>
		<!-- /.col-sm-6 -->
	</div>
	<!-- /.row -->
</div>
<!-- /.container-fluid -->
<!-- 
<section class="section">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <a class="dashboard-stat bg-primary pointerclass">
                    <span class="number counter">1,411</span>
                    <span class="name">Comments</span>
                    <span class="bg-icon"><i class="fa fa-comments"></i></span>
                </a>
                /.dashboard-stat
            </div>
            /.col-lg-3 col-md-3 col-sm-6 col-xs-12

            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <a class="dashboard-stat bg-danger pointerclass">
                    <span class="number counter">322</span>
                    <span class="name">Cash Flow</span>
                    <span class="bg-icon"><i class="fa fa-ticket"></i></span>
                </a>
                /.dashboard-stat
            </div>
            /.col-lg-3 col-md-3 col-sm-6 col-xs-12

            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <a class="dashboard-stat bg-warning pointerclass" >
                    <span class="number counter">5,551</span>
                    <span class="name">Commodity</span>
                    <span class="bg-icon"><i class="fa fa-bank"></i></span>
                </a>
                /.dashboard-stat
            </div>
            /.col-lg-3 col-md-3 col-sm-6 col-xs-12

            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <a class="dashboard-stat bg-success pointerclass" >
                    <span class="number counter">16,710</span>
                    <span class="name">Thumbs Up</span>
                    <span class="bg-icon"><i class="fa fa-thumbs-o-up"></i></span>
                </a>
                /.dashboard-stat
            </div>
            /.col-lg-3 col-md-3 col-sm-6 col-xs-12

        </div>
        /.row
    </div>
    /.container-fluid
</section> -->
<!-- /.section -->

<section class="section pt-10">
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-12">
				<div class="panel border-primary no-border border-3-top"
					data-panel-control>
					<div class="panel-heading">
						<div class="panel-title text-center">
							<h5>Production and Cost Breakeven calculation</h5>
						</div>
					</div>
					<div class="panel-body">
						<!-- <div id="prod-chart" [style.width.%]="100" [style.height.px]="500"></div> -->
						<app-production-cost-grid></app-production-cost-grid>
					</div>
				</div>
				<!-- /.panel -->
			</div>
			<!-- /.col-md-6 -->

			<!--  <div class="col-md-6">
                <div class="panel border-primary no-border border-3-top" data-panel-control>
                    <div class="panel-heading">
                        <div class="panel-title">
                            <h5>Production Forecast<small>over years</small></h5>
                        </div>
                    </div>
                    <div class="panel-body">
                        <div id="traffic-chart" [style.width.%]="100" [style.height.px]="500"></div>
                    </div>
                </div>
                /.panel
            </div>
            /.col-md-6 -->
		</div>
		<!-- /.row -->
	</div>
	<!-- /.container-fluid -->
</section>
<!-- /.section -->



<section class="section pt-n">
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-12">
				<div class="panel border-primary no-border border-3-top">
					<div class="panel-heading">
						<div class="panel-title text-center ">
							<h5>Marketable Productions and Sales</h5>

						</div>
						<!-- <div class="dropdown text-right" dropdown>
                            <i class="fa fa-ellipsis-v dropdown-toggle" role="button" id="dropdownMenu3" dropdownToggle></i>
                            <ul class="dropdown-menu dropdown-menu-right bg-gray-500" aria-labelledby="dropdownMenu3" *dropdownMenu >
                                <li><a class="pointerclass">Action</a></li>
                                <li><a class="pointerclass">Another action</a></li>
                                <li><a class="pointerclass">Something else here</a></li>
                            </ul>
                        </div> -->
					</div>
					<div class="panel-body">
						<app-marketsalesgrid></app-marketsalesgrid>
					</div>
				</div>
				<!-- /.panel -->
			</div>
			<!-- /.col-md-6 -->

			<!-- /.col-md-6 -->
		</div>
		<!-- /.row -->
	</div>
	<!-- /.container-fluid -->
</section>
<!-- /.section -->



<section class="section pt-10">
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-12">
				<div class="panel border-primary no-border border-3-top"
					data-panel-control>
					<div class="panel-heading">
						<div class="panel-title text-center">
							<h5>Storage and Inventory</h5>
						</div>
					</div>
					<div class="panel-body">
						<!-- <div id="prod-chart" [style.width.%]="100" [style.height.px]="500"></div> -->
						<app-storage-inventory-grid></app-storage-inventory-grid>
					</div>
				</div>
				<!-- /.panel -->
			</div>
		</div>
		<!-- /.row -->
	</div>
	<!-- /.container-fluid -->
</section>
