<app-top-navbar></app-top-navbar>
<div class="content-wrapper">
    <div class="container-fluid">
        <article id="post-3480" class="left-only post-3480 page type-page status-publish hentry">
            <div class="page-content no-image">
          <h2><span style="color: #000000;">Meet the members of the <strong>AgVantage Commodities team who work hard every day to build strong relationships between local Australian producers and buyers</strong>, providing outstanding service and years of experience in agricultural commodity marketing.</span></h2>
    <p><span style="color: #000000;"> </span></p>
    <h3><span style="color: #000000;"><strong>Steve Dalton</strong> –  Managing Director</span></h3>
    <p class="wp-caption-dt"><span style="color: #000000;"><span style="color: #000000;"><img class="wp-image-9625 alignleft" title="Steve Dalton" src="https://agvantagecommodities.com.au/wp-content/uploads/2011/07/DSC_9769-199x300.jpg" alt="" width="119" height="180" srcset="https://agvantagecommodities.com.au/wp-content/uploads/2011/07/DSC_9769-199x300.jpg 199w, https://agvantagecommodities.com.au/wp-content/uploads/2011/07/DSC_9769-680x1024.jpg 680w" sizes="(max-width: 119px) 100vw, 119px" /></span></span><span style="color: #000000;">Steve was born and bred in Sydney, but spent a great deal of time with his grandparents and family at Come-By-Chance in northwest NSW on mixed farming properties while he was growing up. Upon leaving school, Steve undertook a building apprenticeship and eventually began running his own building business in Sydney and central western NSW.</span></p>
    <p><span style="color: #000000;">In 1999, stemming from his passion for agriculture, Steve decided to make a career change, studying for and receiving an Honours-level Bachelor of Agricultural Economics degree at the University of New England. On completion of his degree in 2002, Steve commenced with AWB Ltd in Grower Services based in Melbourne.</span></p>
    <p><span style="color: #000000;">Steve relocated to Narrabri in August of 2003 to work for AWB in a Grower Services and Marketing role incorporating both grains and cotton.</span></p>
    <p><span style="color: #000000;">Steve moved to Sydney in 2006 for a role with ECOM Commodities as Pulse Marketing Manager, and then moved back to Narrabri in 2007 with ECOM.</span></p>
    <p><span style="color: #000000;">Steve founded AgVantage Commodities in Narrabri with his wife, Brooke, in September 2008 and is committed to providing pertinent market information across a wide variety of avenues/mediums to both growers and buyers of cropping commodities while offering exemplary contract negotiation and administration services.</span></p>
    <p><span style="color: #000000;"> </span></p>
    <h3><span style="color: #000000;"><strong>Brooke Dalton</strong> – Director, Accounts</span></h3>
    <p><span style="color: #000000;"><span style="color: #000000;"><img class="wp-image-9628 alignleft" title="Brooke Dalton" src="https://agvantagecommodities.com.au/wp-content/uploads/2011/07/DSC_9842-199x300.jpg" alt="" width="119" height="180" srcset="https://agvantagecommodities.com.au/wp-content/uploads/2011/07/DSC_9842-199x300.jpg 199w, https://agvantagecommodities.com.au/wp-content/uploads/2011/07/DSC_9842-680x1024.jpg 680w" sizes="(max-width: 119px) 100vw, 119px" /></span>Born and raised in Moree on a grain, pulse and cotton growing property, Brooke studied for a Bachelor of Built Environment, majoring in Industrial Design at Queensland University of Technology.  While a far cry from commodity marketing, this experience provided a comprehensive education in system design, strengthening Brooke&#8217;s analytical problem solving skills.</span></p>
    <p><span style="color: #000000;">Brooke primarily works behind the scenes on the AgVantage team to make sure the business runs smoothly, managing accounts and strategically moving the business forward alongside Steve.</span></p>
    <p><span style="color: #000000;">Brooke and Steve have two sons, Archer and Baxter.</span></p>
    <h3></h3>
    <p>&nbsp;</p>
    <h3><span style="color: #000000;"><strong>Josh Brown</strong> &#8211; Commodity Broker</span></h3>
    <p><span style="color: #000000;">Josh was raised on his family’s cattle property in the Hunter Valley and after finishing school in Sydney went on to study Bachelor of Agribusiness majoring in Marketing &amp; Management at the University of New England. Josh has spend many a uni holiday working in the Narrabri region as a harvest casual at Millie and at a local packing facility.</span></p>
    <p>Most recently Josh was working as a grain marketer at a local trading house.</p>
    <p><span style="color: #000000;"><span class="ecxApple-converted-space"> </span></span></p>
    <h3><span style="color: #000000;"><strong>Chrissy Puracan &#8211; </strong>Administration<br />
    </span></h3>
    <div class=""><span style="color: #000000;"><span class="" lang="EN">Chrissy works remotely for AgVantage Commodities from the comfort of her home office.  She has been assisting with the contract administration, email marketing and general administration for AgVantage since 2013.</span></span></div>
    <div class=""></div>
    <p><span style="color: #000000;"> </span></p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <h3></h3>
    <p>&nbsp;</p>
    <p><span style="color: #1a0707;"> </span></p>
    <h3><span style="color: #000000;"> </span></h3>
    <h3><span style="color: #000000;"><strong> </strong></span></h3>
    <p><span style="color: #000000;"> </span></p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <h3></h3>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
                
            <div class="share-btns wire-pad alignnone vertical">
        <div class="fake-btns">
              </div><!-- / .fake-btns -->
        <div class="real-btns">
              </div><!-- / .real-btns -->
        <div class="clearfix"></div>
      </div><!-- / .wire-pad -->
    
    
          </div><!-- .entry-content -->
    
          </article>
    
    
</div>
</div>

<app-footer ></app-footer>