<div class = "alert alert-success" *ngIf="saveMessage">{{saveMessage}}</div>
<div id="snackbar">Double click on a row to edit..</div>
<ag-grid-angular id="grid1" #agGrid style="height:300px;width:99%;" [enableFilter]="true" [enableSorting]="true" [enableColResize]="true"
class="ag-blue" [gridOptions]="gridOptions"  [columnDefs]="columnDefs" (gridReady)="onGridReady($event)"
[rowData]="rowData"   [groupUseEntireRow]="true"> </ag-grid-angular>

   <!--detailedView popup--> 
   <div class="modal fade bd-example-modal-lg" id="dvModel" tabindex="-1" bsModal #dvModel="bs-modal" role="dialog"  [config]="{backdrop: false}" aria-labelledby="myModalLabel">
		<div class="modal-dialog modal-lg" role="document">
			<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title" id="myModalLabel">
					Detailed View of Forecast
					<button type="button" class="close" (click)="closePCBModal()" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</h4>
			</div>

			<div class="modal-body">
			  <!-- <div class="row">
				  <div class="col-md-12">
					<button type="button" class="btn btn-primary" (click)="editPCBModal()">Edit</button>
					</div>
				</div> -->
				<div class="row">
					<div class="col-md-12">
							<div class="alert alert-success" *ngIf="delMessage">{{delMessage}}</div>
					</div>
				</div>
			  
			  <div class="row">
				<div class="col-md-12 pt_15" >
					<ag-grid-angular id="grid2" #agGrid1 style="height:200px;" [enableFilter]="true" [enableSorting]="true" [enableColResize]="true"
					class="ag-blue" [gridOptions]="gridOptions"  [columnDefs]="columnDefs1" (gridReady)="onGridReady1($event)"
					[rowData]="rowData1"   (rowEditingStarted)="editStarted($event)"    [groupUseEntireRow]="true"> </ag-grid-angular>
				</div>
			  </div>

			<div class="row">
				<div class="col-md-12 pt_15">
					<h4 class="modal-title" id="myModalLabel">
						Summary of Forward Sales
					</h4>
				</div>
			</div>
				
			  <div class="row">
				<div class="col-md-12 pt_15" >
					<ag-grid-angular id="grid3" #agGrid2 style="height:100px;"
					class="ag-blue" [gridOptions]="gridOptions"  [columnDefs]="columnDefs2" (gridReady)="onGridReady2($event)"
					[rowData]="rowData2"   [groupUseEntireRow]="true"> </ag-grid-angular>
				</div>	
			  </div>
			  
			  <div class="row">
			    <div class="col-md-offset-5 pt_15">
				  <label for="default" class="col-md-5 control-label">Net Unsold Quantity</label>
				  <div class="col-md-7">
					<input required type="number" name="nquantity" [disabled]="true" [(ngModel)]="detailedInfo.Net_Unsold_Quantity" class="form-control" id="default"
					placeholder="Quantity">
					<!-- <p *ngIf="fmarea.invalid && !fmarea.pristine" class="help-block">Area is required.</p> -->
				  </div>
				</div>	  
			  </div>
				
			</div>

			<div class="modal-footer">
				<button type="button" class="btn btn-primary" [disabled]="enableEditForecaset" (click)="updateForecast()">Submit</button>
			</div>
			</div>
		</div>
	</div> 
	<div class="modal fade" id="delModal" tabindex="-1" bsModal #delModal="bs-modal" role="dialog" aria-labelledby="myModalLabel">
		<div class="modal-dialog" role="document">
			<div class="modal-content" style="overflow: auto;">
				<div class="modal-header">
					<h4 class="modal-title" id="myModalLabel">
						Are you sure you want to delete it?
					</h4>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" (click)="closeDeleteDialog()">No</button>
					<button type="button" class="btn btn-default" (click)="deletePCB()">Yes</button>
																	</div>
			</div>
		</div>
	</div>